.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.4rem;

    a {
        position: relative;
        color: $textGray;

        &::after {
            content: '/';
            position: absolute;
            top: 0;
            right: -0.4rem;
            transform: translateX(100%);
        }
    }

    @media (max-width: 48em) {
        column-gap: 2.6rem;

        a {
            &::after {
                right: -0.8rem;
            }
        }
    }

    // .breadcrumbs__txt

    &__txt {
    }
}
