.licenses__card {
    border-radius: 3.2rem;
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding: 3.2rem 3.2rem 4.5rem;

    &.--v2 {
        @media (min-width: 48em) {
            padding: 0;
            background: transparent;

            &-button {
                bottom: auto;
                top: 0;
            }

            &-image {
                clip-path: url(#licenses-background-v2);
            }
        }
    }

    @include small-tablet {
        padding: 4.8rem;
        border-radius: 4.8rem;
    }

    &:hover {
        .licenses__card-image img {
            transform: scale(1.1);
        }

        .licenses__card-title {
            color: $blue;
        }
    }

    &::after {
        @include pseudo {
            inset: 0;
            z-index: -1;
            background: $white;
            clip-path: url(#licenses-background);
        }
    }

    &-image {
        @include sizes(100%, 33.5rem);
        border-radius: 2.4rem;
        margin-bottom: 3.2rem;
        overflow: hidden;

        @include small-tablet {
            border-radius: 4.8rem;
            @include sizes(100%, 46rem);
            margin-bottom: 4.8rem;
        }

        img {
            border-radius: inherit;
            height: 100%;
            object-fit: cover;
            transition: 0.3s transform ease;
        }
    }

    &-title {
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 120%;
        display: block;
        max-width: 36.5rem;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        transition: 0.3s color ease;

        @include small-tablet {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            font-size: 3.6rem;
            max-width: 48.8rem;
        }
    }

    &-button {
        position: absolute;
        right: 0;
        bottom: 0;
        @include sizes(6rem, 6rem);
        border-radius: 50%;
        background: $blue;
        padding: 1.8rem;

        @include small-tablet {
            @include sizes(8.8rem, 8.8rem);
            padding: 2.8rem;
        }
    }
}
