.reviews__card {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    border-radius: 3.2rem;
    background: $white;
    height: 100%;

    &_large {
        .reviews__card-description {
            -webkit-line-clamp: 6;
        }

        .reviews__card-subtitle {
            margin-bottom: 1.6rem;

            @include small-tablet{
                margin-bottom: 2.4rem;
            }
        }
        .reviews__card-button {
            margin-bottom: 3.2rem;
            align-items: center;
        }
        .reviews__card-heading {
            align-items: flex-start;
            margin-bottom: 0;

            @media (max-width: 48em) {
                margin-bottom: 5rem;
            }
        }
        .reviews__card-button {
            align-self: flex-start;
        }

        @media (max-width: 48em) {
            display: grid;
            grid-template-columns: auto 1fr;

            .reviews__card-heading,
            .reviews__card-subtitle,
            .reviews__card-description {
                grid-column: span 2;
            }

            .reviews__card-button {
                margin-bottom: 0;
                justify-self: start;
                white-space: nowrap;
            }

            .reviews__card-bottom {
                justify-content: flex-end;
                transform: translateY(-0.5rem);
            }
        }
    }

    @include small-tablet {
        padding: 4.8rem;
        border-radius: 4.8rem;
    }

    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.2rem;

        @include small-tablet {
            margin-bottom: 4.8rem;
        }
    }

    &-marks {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include small-tablet {
            gap: 2rem;
        }
    }

    &-mark {
        @include sizes(2.2rem, 2.2rem);

        @include small-tablet {
            @include sizes(4rem, 4rem);
        }

        img {
            height: 100%;
        }
    }

    &-date {
        display: block;
        font-size: 1.8rem;
        line-height: 140%;
        color: $textGray;

        @include small-tablet {
            font-size: 3rem;
        }
    }

    &-author {
        font-family: 'Nunito', sans-serif;
        font-weight: 500;
        font-size: 2.4rem;
        display: block;
        margin-bottom: 1.6rem;

        @include small-tablet {
            font-size: 3.6rem;
        }
    }

    &-description {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 140%;
        color: $textGray;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 3.2rem;

        @include small-tablet {
            -webkit-line-clamp: 6;
            font-size: 3rem;
            margin-bottom: 4.8rem;
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }

    &-company {
        width: auto;
        height: auto;

        @include small-tablet{
            @include sizes(24rem, 3.2rem);
        }

        img {
            width: auto;

            @include small-tablet{
                width: 100%;
                height: 100%;
            }
        }
    }
}
