.section-heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 4rem;

    .h {
        span {
            padding: 0 2rem;
            border-radius: 10rem;
            line-height: 1;
            color: $white;
            background-color: $lightBlue;
        }
    }

    @include small-tablet {
        margin-bottom: 6.4rem;
    }

    @include small-tablet {
        .navigation-buttons {
            display: none;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 4.6rem !important;
        height: 4.6rem !important;
        padding: 1rem !important;
    }
}
