.service-card {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
    border-radius: 3.2rem;
    background: $white;
    height: 100%;

    @include small-tablet {
        padding: 4.8rem;
        border-radius: 4.8rem;
        min-height: 112rem;
    }

    &_sm {
        @media (max-width: 48em) {
            min-height: auto;
            .service-card__bottom {
                margin-top: 0;
            }
            .service-card__title {
                flex: 1 1 auto;
            }
        }
    }

    &:hover {
        .arrow-icon {
            border-color: $blue;
            background: transparent;

            svg path {
                stroke: $blue;
            }
        }

        .service-card__title {
            color: $blue;
        }
    }

    &__image {
        @include sizes(100%, 22rem);
        margin-bottom: 2.2rem;
        clip-path: url(#services-background);

        @include small-tablet {
            clip-path: url(#services-background-mobile);
        }

        @include small-tablet {
            @include sizes(100%, 36rem);
            margin-bottom: 4.8rem;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin-bottom: 1.6rem;
        transition: 0.3s color ease;

        @include small-tablet {
            margin-bottom: 3.2rem;
        }
    }

    &__features {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-bottom: 3.3rem;
        max-width: 32rem;
        width: 100%;

        @include small-tablet {
            max-width: 100%;
            gap: 1.6rem;
        }
    }

    &__feature {
        display: flex;
        align-items: flex-start;
        gap: 0.8rem;

        @include small-tablet {
            gap: 1.6rem;
        }
    }

    &__marker {
        @include sizes(1.6rem, 1.6rem);

        @include small-tablet {
            @include sizes(3.2rem, 3.2rem);
        }

        img {
            height: 100%;
        }
    }

    &__text {
        font-size: 1.8rem;
        line-height: 140%;

        @include small-tablet {
            font-size: 3rem;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;

        span {
            font-weight: 600;
            font-size: 2rem;
            line-height: 120%;
            color: $red;

            @include small-tablet {
                font-size: 3rem;
                margin-left: 1rem;
            }
        }
    }
}
