.star-rating {
    margin: 0 -0.2rem;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;

    ._is-active svg,
    ._is-active ~ .star-rating__star svg {
        fill: $white;
        path {
            stroke: $white;
            fill: $white;
        }
    }
    .star-rating__star:hover svg,
    .star-rating__star:hover ~ .star-rating__star svg {
        fill: $white;
        path {
            stroke: $white;
            fill: $white;
        }
    }

    @media (max-width: 48em) {
        margin: 0 -0.4rem;
    }

    // .star-rating__star

    &__star {
        flex: 0 0 4rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;

        svg {
            padding: 0 0.4rem;
            width: 4rem;
            height: 4rem;
            transition: fill 0.3s ease;

            path {
                transition: stroke 0.3s ease, fill .3s ease;
                stroke: $white;
                fill: $blue;

                ._form-error & {
                    stroke: $red;
                }
            }
        }

        @media (max-width: 48em) {
            flex: 0 0 6rem;
            width: 6rem;
            height: 6rem;

            svg {
                padding: 0 0.8rem;
                width: 6rem;
                height: 6rem;
            }
        }
    }
}
