.h {
    font-family: 'Nunito';
    font-weight: 500;
    line-height: 120%;

    &_h1 {
        font-size: 6rem;
    }

    &_h2 {
        font-size: 3.4rem;
        @media (max-width: 48em) {
            font-size: 4.4rem;
        }
    }

    &_h3 {
        font-size: 2.4rem;

        @media (max-width: 48em) {
            font-size: 3.6rem;
        }
    }
}

.txt18 {
    font-size: 1.8rem;
    line-height: 140%;
    color: #8b8d95;

    @media (max-width: 48em) {
        font-size: 3rem;
    }
}

.txt16 {
    line-height: 120%;

    &_caps {
        text-transform: uppercase;
    }

    @media (min-width: 48em) {
        font-size: 1.6rem;
    }
}

.quote-txt {
    font-family: 'Roboto Flex';
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
    color: $red;
    @media (max-width: 48em) {
        font-size: 3rem;
    }
}
