.article {
    .knowledge-page-template & {
        .article__content {
            @include small-tablet{
                gap: 20rem;
            }
        }

        .article__info {
            max-width: 37.5rem;

            @include small-tablet{
                max-width: 100%;
            }
        }

       @media (min-width: 48em) {
           .request__info-image {
               max-width: 34.2rem;
               height: 23rem;
           }

           .review-form__fields {
               row-gap: 2.2rem;
           }

           textarea.input__field {
               height: 20.3rem;
           }
       }

        .comment-form__btn{
            margin-top: 2.8rem;
        }
    }

    .seo__sidebar-info {
        padding: 2.7rem 3.2rem 3.2rem 1.3rem;
        clip-path: url(#article-template-background);

        @include small-tablet {
            clip-path: none;
            padding: 4.8rem;
            border-radius: 4.8rem;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include small-tablet {
            flex-direction: column;
            gap: 12rem;
        }
    }

    &__content--reverse {
        @media (max-width: 48em) {
           flex-direction: column-reverse;

           .article__info {
                gap: 4.8rem;
           }
        }
    }

    &__text {
        max-width: 90rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8rem;

        @include small-tablet {
            max-width: 100%;
            gap: 12rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        max-width: 50.5rem;
        width: 100%;

        @include small-tablet {
            max-width: 100%;
            gap: 20rem;
        }
    }

    &__description {
        font-size: 1.8rem;
        line-height: 140%;

        @include small-tablet {
            font-size: 3rem;
            line-height: 140%;
        }

        &-block {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            @include small-tablet {
                gap: 4.8rem;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        @include small-tablet {
            gap: 3.2rem;
        }

        &-title {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            font-size: 3.4rem;
            line-height: 120%;

            @include small-tablet {
                font-size: 4.4rem;
                line-height: 120%;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            @include small-tablet {
                gap: 1.6rem;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            @include small-tablet {
                gap: 1.6rem;
            }

            &-text {
                font-size: 1.8rem;
                line-height: 140%;

                @include small-tablet {
                    font-size: 3rem;
                }
            }
        }
    }

    &__subblock {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include small-tablet {
            gap: 6.4rem;
        }

        &-title {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            font-size: 3.4rem;
            line-height: 120%;

            @include small-tablet {
                font-size: 4.4rem;
            }
        }

        .article__block {
            &-title {
                font-family: 'Nunito', sans-serif;
                font-weight: 500;
                font-size: 2.4rem;
                line-height: 120%;

                @include small-tablet {
                    font-size: 3.6rem;
                }
            }
        }
    }

    &__banner {
        padding: 3.2rem;
        border-radius: 3.2rem;
        background: $white;

        @include small-tablet {
            padding: 4.8rem;
            border-radius: 4.8rem;
        }

        &-title {
            font-family: 'Nunito', sans-serif;
            font-weight: 500;
            font-size: 3.4rem;
            line-height: 120%;
            margin-bottom: 2.4rem;

            @include small-tablet {
                font-size: 4.4rem;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            padding-left: 1.5rem;

            @include small-tablet {
                gap: 1.6rem;
                padding-left: 3rem;
            }
        }

        &-item {
            font-size: 1.8rem;
            line-height: 140%;
            position: relative;

            @include small-tablet {
                font-size: 3.6rem;
            }

            &::after {
                @include pseudo {
                    border-radius: 50%;
                    background: $blue;
                    @include sizes(0.7rem, 0.7rem);
                    left: -1.5rem;
                    top: 0.8rem;

                    @include small-tablet {
                        @include sizes(1.4rem, 1.4rem);
                        top: 1.8rem;
                        left: -3rem;
                    }
                }
            }
        }
    }

    &__licenses {
        @media (min-width: 48em) {
            padding: 3.2rem;
            border-radius: 2.4rem;
            background: $white;
        }

        .licenses__card {
            @media (min-width: 48em) {
                &-button {
                    top: 0;
                }

                &-image {
                    height: 34.4rem;
                    clip-path: url(#licenses-background-v2);

                    @include small-tablet{
                        height: 46rem;
                    }
                }
            }
        }

        .navigation-buttons {
            justify-content: center;
            margin-top: 3.5rem;

            @include small-tablet{
                display: none;
            }

            .swiper-button-next,
            .swiper-button-prev {
                width: 4.6rem !important;
                height: 4.6rem !important;
            }
        }
    }
}
