.comprehensive-s {
    &__title {
        margin-bottom: 4rem;
    }

    &__inner {
        margin-bottom: 2.4rem;
    }
}

@media (max-width: 48em) {

    .comprehensive-s {
        &__title {
            margin-bottom: 6.4rem;
        }
    
        &__inner {
            margin-bottom: 4.8rem;
        }
    
    }
 
 }