.detailed-spa {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__video {
        width: 103.2rem;
        height: 48rem;
    }

    .video-section__video-wrap {
        width: 103.2rem;
        height: 48rem;
    }

    &__left {
        width: 50.3rem;
    }

    &__title {
       
        margin-bottom: 3.2rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 140%;
    }
}


@media (max-width: 48em) {
    .detailed-spa {
        &__wrapper {
            flex-direction: column;
        }

        &__title {
            margin-bottom: 6.4rem;
        }

        &__text {
            font-size: 3rem;
            line-height: 140%;
        }

        &__left {
            width: 100%;
            margin-bottom: 6.4rem;
        }

        &__video {
            width: 100%;
            height: 46rem;
        }

        .video-section__video-wrap {
            width: 100%;
            height: 46rem;
        }
    }


}