.services-hero {
    padding-top: 1rem;

    @media (max-width: 48em) {
        padding-top: 2rem;
    }

    // .services-hero__container

    &__container {
        display: flex;
        flex-direction: column;
    }

    // .services-hero__breadcrumbs

    &__breadcrumbs {
        margin-bottom: 2.4rem;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
        }
    }

    // .services-hero__body

    &__body {
        display: flex;
        column-gap: 2.4rem;

        @media (max-width: 48em) {
            flex-direction: column;
        }
    }

    // .services-hero__content

    &__content {
        position: relative;
        margin-bottom: 2.4rem;

        @media (min-width: 48em) {
            margin-bottom: 0;
            flex: 0 0 103.2rem;
        }
    }

    // .services-hero__content-wrap

    &__content-wrap {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            height: 100%;
        }
    }

    // .services-hero__consultation

    &__consultation {
        margin-bottom: auto;

        @media (max-width: 48em) {
            display: none;
        }
    }

    // .services-hero__text-wrap

    &__text-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;
        max-width: 53.8rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
            row-gap: 4.8rem;
            max-width: none;
        }
    }

    // .services-hero__label

    &__label {
    }

    // .services-hero__heading

    &__heading {
    }

    // .services-hero__text

    &__text {
    }

    // .services-hero__image-wrap

    &__image-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        clip-path: url(#cl-doctorsHero);
        background: linear-gradient(
            110.86deg,
            rgba(160, 187, 214, 0.4) 31.99%,
            rgba(255, 255, 255, 0) 50.57%
        );

        @media (max-width: 48em) {
            position: static;
            clip-path: none;
            border-radius: 4.8rem;
            overflow: hidden;
        }
    }

    // .services-hero__image

    &__image {
        height: 100%;
        object-fit: cover;
    }

    // .services-hero__aside

    &__aside {
        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;
    }

    // .services-hero__statistics

    &__statistics {
    }

    // .services-hero__doctors

    &__doctors {
    }

    // .services-hero__price

    &__price {
    }
}

.consultation-services-hero {
    margin-top: 2.4rem;
    margin-left: 2.4rem;
    padding: 2.4rem;
    display: inline-flex;
    flex-direction: column;
    max-width: 39rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2.4rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2.5rem);

    // .consultation-services-hero__heading

    &__heading {
        margin-bottom: 3.2rem;
    }

    // .consultation-services-hero__btn

    &__btn {
        align-self: flex-start;
    }
}

.statistics-card {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    border-radius: 2.4rem;
    color: $white;
    background-color: rgba(99, 179, 223, 0.9);
    background-image: url(./assets/images/bg/light-bckdrop.webp);
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 48em) {
        padding: 4.8rem;
        border-radius: 4.8rem;
    }

    // .statistics-card__icons

    &__icons {
        margin-bottom: 0.8rem;
        display: flex;
        column-gap: 2.4rem;

        @media (max-width: 48em) {
            margin-bottom: 1.6rem;
            column-gap: 3.2rem;
        }
    }

    // .statistics-card__icon-wrap

    &__icon-wrap {
        flex: 0 0 3.2rem;
        width: 3.2rem;

        @media (max-width: 48em) {
            flex: 0 0 5rem;
            width: 5rem;
        }
    }

    // .statistics-card__icon

    &__icon {
        object-fit: contain;
    }

    // .statistics-card__text

    &__text {
        margin-bottom: 4.7rem;

        @media (max-width: 48em) {
            margin-bottom: 5rem;
        }
    }

    // .statistics-card__nums

    &__nums {
    }
}

.doctors-card {
    position: relative;
    padding: 3rem 0 3rem 2.4rem;
    display: flex;
    align-items: center;
    border-radius: 2.4rem;

    @media (max-width: 48em) {
        padding: 3.2rem;
        padding-right: 0;
        flex-direction: column;
        align-items: stretch;
        border-radius: 4.8rem;
    }

    .round-btn {
        flex: 0 0 6rem;
        width: 6rem;
        height: 6rem;

        @media (max-width: 48em) {
            position: absolute;
            bottom: 0;
            right: 0;
            flex: 0 0 9rem;
            width: 9rem;
            height: 9rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        clip-path: url(#cl-doctorsCard);

        @media (max-width: 48em) {
            clip-path: url(#cl-doctorsCardM);
        }
    }

    @media (any-hover: hover) {
        &:hover {
            .round-btn svg path {
                &:first-child {
                    animation: arrAnim1 0.8s linear 0s infinite;
                }
                &:nth-child(2) {
                    animation: arrAnim2 0.8s linear 0s infinite;
                }
                &:last-child {
                    animation: arrAnim3 0.8s linear 0s infinite;
                }
            }
        }
    }

    // .doctors-card__group

    &__group {
        margin-right: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;

        @media (max-width: 48em) {
            margin-right: 0;
            margin-bottom: 3.2rem;
            flex-direction: row;
            gap: 1.6rem;
        }
    }

    // .doctors-card__images

    &__images {
        .doctors-images__image-wrap {
            flex: 0 0 6rem;
            width: 6rem;
            height: 6rem;

            @media (max-width: 48em) {
                flex: 0 0 8rem;
                width: 8rem;
                height: 8rem;
            }
        }
    }

    // .doctors-card__logo-wrap

    &__logo-wrap {
        width: 14.7rem;

        @media (max-width: 48em) {
            flex: 0 0 21rem;
            width: 21rem;
        }
    }

    // .doctors-card__logo

    &__logo {
        object-fit: contain;
    }

    // .doctors-card__heading

    &__heading {
        max-width: 15.2rem;

        @media (max-width: 48em) {
            max-width: none;
        }
    }
}

.price-card {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    border-radius: 2.4rem;
    background-image: url(./assets/images/bg/blue-bckdrop.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;

    @media (max-width: 48em) {
        padding: 3.2rem;
        border-radius: 4.8rem;
    }

    // .price-card__head

    &__head {
        margin-bottom: 2.7rem;
        display: flex;
        justify-content: space-between;
        gap: 4.7rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
            flex-direction: column;
            justify-content: stretch;
            gap: 2.4rem;
        }
    }

    // .price-card__heading

    &__heading {
        font-weight: 400;

        @media (min-width: 48em) {
            max-width: 26.1rem;
        }
    }

    // .price-card__badge

    &__badge {
        padding: 0.8rem 1.6rem;

        .badge__txt {
            font-family: Nunito;
            font-size: 2.4rem;
            line-height: 1;
            color: $blue;
            white-space: nowrap;
        }

        @media (max-width: 48em) {
            padding: 1.6rem 3.2rem;
            align-self: flex-start;
            .badge__txt {
                font-size: 3.6rem;
            }
        }
    }

    // .price-card__body

    &__body {
    }

    // .price-card__text

    &__text {
        max-width: 26.1rem;

        @media (max-width: 48em) {
            max-width: 55.4rem;
        }
    }
}
