.specialists-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2.4rem;

    @media (max-width: 48em) {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        margin-bottom: 6.4rem;
    }
}
.list-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    width: 100%;

    button {
        width: 3.6rem !important;
        height: 3.6rem !important;
    }

    // .specialists-list-pagination__wrapper
    &__wrapper {
        display: flex;
        gap: 0.2rem;
        align-items: center;

        li {
            cursor: pointer;
            width: 5.2rem;
            height: 5.2rem;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            font-weight: 400;
            font-size: 1.6rem;
            line-height: 120%;
            text-transform: uppercase;
            color: $black;

            &.active {
                background-color: $blue;
                color: $white;
            }
        }
    }

    @media (max-width: 48em) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4.8rem;
        width: 100%;

        button {
            width: 6rem !important;
            height: 6rem !important;

            img {
                width: 60%;
            }
        }
        // .specialists-list-pagination__wrapper
        &__wrapper {
            display: flex;
            gap: 1.6rem;
            align-items: center;

            li {
                width: 8.8rem;
                height: 8.8rem;

                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                font-size: 3rem;
                line-height: 140%;
                text-align: center;
                color: var(--black);

                &.active {
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }
}
