.footer {
    margin-bottom: 3.2rem;

    @include small-tablet{
        margin-bottom: 0;
    }

    &__logo {
        display: block;
        @include sizes(17.8rem, 6.5rem);

        @include small-tablet {
            @include sizes(28rem, 10rem);
            margin-bottom: 3.2rem;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__submenu {
        padding: 3.2rem;
        border-radius: 2.4rem;
        background: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 9rem;
        margin-bottom: 3.2rem;

        &-nav {
            width: 100%;
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 0.2rem;
            flex: 0 0 16.7rem;
        }

        &-contacts {
            a {
                font-weight: 600;
                font-size: 2rem;
                line-height: 130%;
                transition: 0.3s color ease;

                &:hover {
                    color: $blue;
                }
            }

            address {
                font-size: 1.8rem;
                line-height: 130%;
                font-style: normal;
            }
        }
    }

    &__link {
        display: block;
        font-size: 2rem;
        line-height: 130%;
        transition: 0.3s color ease;

        @include small-tablet {
            font-size: 3rem;
            line-height: 140%;
        }

        &:hover {
            color: $blue;
        }
    }

    &__content {
        padding: 3.2rem;
        border-radius: 2.4rem;
        background: $white;

        @include small-tablet {
            padding: 4.8rem 3.2rem;
            border-radius: 4.8rem 4.8rem 0 0;
            width: calc(100% + 6.4rem);
            margin-left: -3.2rem;
        }
    }

    &__info {
        max-width: 33rem;
        width: 100%;

        @include small-tablet {
            max-width: 100%;
        }

        &-title {
            font-size: 1.8rem;
            line-height: 130%;
            margin-bottom: 4.4rem;

            @include small-tablet {
                font-size: 3rem;
                line-height: 140%;
                margin-bottom: 0;
            }
        }

        &-subtitle {
            font-size: 1.8rem;
            line-height: 130%;
            color: $textGray;
            margin-bottom: 1.6rem;
            display: block;

            @include small-tablet {
                font-size: 3rem;
                line-height: 140%;
                margin-bottom: 0;
            }
        }

        &-links {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            @include small-tablet {
                gap: 2.4rem;
            }
        }

        &-link {
            font-size: 1.8rem;
            line-height: 130%;
            text-decoration: underline;
            color: $textGray;

            @include small-tablet {
                font-size: 2.8rem;
                line-height: 140%;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(3, minmax(31.7rem, auto));
        gap: 3rem;

        @include small-tablet {
            display: flex;
            flex-direction: column;
            gap: 4.8rem;
        }

        &-block {
            &-title {
                display: inline-block;

                @include small-tablet {
                    font-family: 'Nunito', sans-serif;
                    font-weight: 700;
                    font-size: 3.6rem;
                    line-height: 120%;
                    transition: 0.3s margin-bottom ease;
                    position: relative;

                    &::after {
                        @include pseudo {
                            width: 3.2rem;
                            height: 2px;
                            background: $fontColor;
                            right: -25px;
                            top: 50%;
                        }
                    }

                    &::before {
                        @include pseudo {
                            height: 3.2rem;
                            width: 2px;
                            background: $fontColor;
                            right: -18px;
                            top: 4px;
                            transition: 0.3s transform ease;
                        }
                    }

                    &._accordion-active {
                        margin-bottom: 2.4rem;

                        &::before {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        &-list {
            @media (min-width: 48em) {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
            }
        }

        &-item {
            @include small-tablet {
                &:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
            }
        }
    }

    &__top {
        display: flex;
        align-items: flex-start;
        gap: 5rem;
        margin-bottom: 3.2rem;

        @include small-tablet {
            flex-direction: column;
        }
    }

    &__copyright {
        padding: 3.6rem 3.2rem 0.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.1rem solid $gray;

        @include small-tablet {
            flex-direction: column;
            gap: 1.4rem;
            padding: 4.8rem 0 0;
            align-items: flex-start;
        }

        &-text {
            font-size: 1.6rem;
            color: $textGray;

            @include small-tablet {
                font-size: 3rem;
                line-height: 140%;
            }
        }

        &-subtext {
            font-size: 1.6rem;
            line-height: 130%;
            color: $textGray;

            @include small-tablet {
                font-size: 3rem;
                line-height: 140%;
            }
        }

        &-logo {
            @include sizes(29.8rem, 3.1rem);

            @include small-tablet {
                @include sizes(45.4rem, 4.4rem);
                margin-left: -1.5rem;
            }

            img {
                height: 100%;
            }
        }
    }
}
