@import '../sections/intro';
@import '../sections/our-services';
@import '../sections/our-specialists';
@import '../sections/prices';
@import '../sections/banner';
@import '../sections/benefits';
@import '../sections/reviews';
@import '../sections/request';
@import '../sections/licenses';
@import '../sections/seo';
@import '../sections/gallery';
@import '../sections/about-main';
@import '../sections/questions';
@import '../sections/conditions';
@import '../sections/documents';
@import '../sections/knowledge';
@import '../sections/helpful';

figure {
    margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 50%;
    background: $blue;
    width: 3.6rem !important;
    height: 3.6rem !important;
    position: initial !important;
    margin: 0 !important;
    padding: 0.8rem;
    transition: 0.3s background ease;

    &::after {
        display: none;
        visibility: hidden;
    }

    img {
        height: 100%;
    }

    &:hover {
        background: #5d72c0;
    }

    &.swiper-button-disabled {
        background: $gray;
        opacity: 1;
    }
}

.showmore-button {
    @include small-tablet {
        margin-top: 2.4rem;

        span {
            font-weight: 500;
            font-size: 3rem;
            line-height: 120%;
            text-transform: uppercase;
        }
    }
}

[data-showmore-button] {
    span {
        &:last-child {
            display: none;
        }
        ._showmore-active & {
            display: none;
            &:last-child {
                display: block;
            }
        }
    }
}

._showmore-active [data-showmore-button] span:first-child {
    display: none;
}

._showmore-active [data-showmore-button] span:last-child {
    display: flex;
}

@keyframes fade-bounce {
    0% {
        opacity: 0;
        transform: scale(0.98);
    }

    50% {
        transform: scale(1.01);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
