<section class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="about__title h h_h1 _mobile-only">О нашей клинике</h2>

            <div class="about__top">
                <a href="#" class="about__video">
                    <div class="about__video-poster">
                        <img src="./assets/images/sections/about/video-poster.webp" alt="" />
                    </div>

                    <figure class="about__video-icon">
                        <img src="./assets/images/icons/play.svg" alt="" />
                    </figure>
                </a>

                <div class="about__top-text">
                    <h2 class="about__title h h_h1 _desktop-only">О нашей клинике</h2>

                    <p class="about__top-description">
                        В медицинском центре Альма мы лечим все виды расстройств – от легких нарушений сна до
                        шизофрении, от расстройства пищевого поведения до невроза, тревожности и панических
                        атак, от потери либидо до хронической усталости или профессионального выгорания.
                    </p>

                    <p class="about__top-description _desktop-only">
                        Кроме психиатрического профиля, мы проводим комплексную диагностику, выявляя смежные
                        заболевания, берем анализы, консультируем и составляем индивидуальный план лечения у
                        других специалистов.
                    </p>

                    <button type="button" class="about__top-button btn btn_primary">
                        <span class="btn__txt">О клинике</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="about__bottom">
                <div class="about__bottom-info">
                    <div class="about__bottom-info-text">
                        <p class="about__bottom-info-description _desktop-only">
                            У нас ведут прием терапевт, невролог, кардиолог, нарколог и врачи высокой
                            категории по многим другим специальностям.
                        </p>

                        <p class="about__bottom-info-description _mobile-only">
                            Для удобства наших пациентов и их близких людей мы расширили перечень услуг и штат
                            врачей. Кроме психиатрического профиля, мы проводим комплексную диагностику,
                            выявляя смежные заболевания, берём анализы, консультируем и составляем
                            индивидуальный план лечения у других специалистов. У нас ведут приём терапевт,
                            невролог, кардиолог, нарколог и врачи высокой категории по многим другим
                            специальностям.
                        </p>

                        <button type="button" class="about__bottom-info-button btn btn_primary">
                            <span class="btn__txt">Услуги</span>
                            <svg
                                width="28"
                                height="24"
                                viewBox="0 0 28 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 6L7 12L1 18"
                                    stroke="white"
                                    stroke-opacity="0.2"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M11 6L17 12L11 18"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M21 6L27 12L21 18"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>

                    <figure class="about__bottom-info-doctor _desktop-only">
                        <img src="./assets/images/sections/about/doctor.webp" alt="" />
                    </figure>
                </div>

                <div class="about__bottom-decor">
                    <sub class="about__bottom-decor-working"> 24/7 </sub>

                    <figure class="about__bottom-decor-image">
                        <img src="./assets/images/sections/about/room.webp" alt="" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
