<section class="actions">
    <div class="actions__container container">
        <div class="actions__head">
            <span class="actions__heading h h_h1">Врач при выезде</span>
        </div>
        <div class="actions__body">
            <div class="actions__slider swiper">
                <div class="actions__wrapper swiper-wrapper">
                    <div class="actions__card action-card swiper-slide">
                        <div class="action-card__num txt20">1</div>
                        <div class="action-card__text-wrap">
                            <span class="action-card__heading h h_h3">Проверяет оксигенацию крови</span>
                            <p class="action-card__text">
                                Пульсоксиметрию применяют при различных заболеваниях легких, чтобы отметить,
                                когда уровень кислорода в крови станет снижаться.
                            </p>
                        </div>
                        <div class="action-card__image-wrap">
                            <img
                                src="./assets/images/sections/actions/1.webp"
                                alt=""
                                class="action-card__image"
                            />
                        </div>
                    </div>
                    <div class="actions__card action-card swiper-slide">
                        <div class="action-card__num txt20">2</div>
                        <div class="action-card__text-wrap">
                            <span class="action-card__heading h h_h3">Снимает ЭКГ</span>
                            <p class="action-card__text">
                                Представляет собой относительно недорогой, но ценный метод
                                электрофизиологической инструментальной диагностики в кардиологии.
                            </p>
                        </div>
                        <div class="action-card__image-wrap">
                            <img
                                src="./assets/images/sections/actions/2.webp"
                                alt=""
                                class="action-card__image"
                            />
                        </div>
                    </div>
                    <div class="actions__card action-card swiper-slide">
                        <div class="action-card__num txt20">3</div>
                        <div class="action-card__text-wrap">
                            <span class="action-card__heading h h_h3">Измереяет артериальное давление</span>
                            <p class="action-card__text">
                                Самый значимый показатель, указывающий на состояние кровеносной системы
                            </p>
                        </div>
                        <div class="action-card__image-wrap">
                            <img
                                src="./assets/images/sections/actions/3.webp"
                                alt=""
                                class="action-card__image"
                            />
                        </div>
                    </div>
                    <div class="actions__card action-card swiper-slide">
                        <div class="action-card__num txt20">4</div>
                        <div class="action-card__text-wrap">
                            <span class="action-card__heading h h_h3">Измереяет уровень глюкозы</span>
                            <p class="action-card__text">
                                Используют для диагностики и контроля сахарного диабета (I и II типов,
                                гестационного диабета.
                            </p>
                        </div>
                        <div class="action-card__image-wrap">
                            <img
                                src="./assets/images/sections/actions/4.webp"
                                alt=""
                                class="action-card__image"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
