<section class="advantages">
    <div class="advantages__container container">
        <div class="advantages__cards">
            <div class="advantages__card advantage-card">
                <div class="advantage-card__head">
                    <span class="advantage-card__heading h h_h2">Опыт</span>
                    <div class="advantage-card__icon-wrap">
                        <img src="./assets/images/icons/star.svg" alt="" class="advantage-card__icon" />
                    </div>
                </div>
                <div class="advantage-card__body">
                    <p class="advantage-card__text">
                        Средний стаж работы специалистов в нашей клинике 18 лет
                    </p>
                </div>
            </div>
            <div class="advantages__card advantage-card advantage-card_blue">
                <div class="advantage-card__head">
                    <span class="advantage-card__heading h h_h2">Анонимность</span>
                    <div class="advantage-card__icon-wrap">
                        <img src="./assets/images/icons/secure.svg" alt="" class="advantage-card__icon" />
                    </div>
                </div>
                <div class="advantage-card__body">
                    <p class="advantage-card__text">
                        Анонимность, без постановки на учет и уведомлений по месту учебы или работы
                    </p>
                </div>
            </div>
            <div class="advantages__card advantage-card advantage-card_has-image">
                <div class="advantage-card__head">
                    <span class="advantage-card__heading h h_h2">Комфорт</span>
                    <div class="advantage-card__icon-wrap">
                        <img src="./assets/images/icons/bed.svg" alt="" class="advantage-card__icon" />
                    </div>
                </div>
                <div class="advantage-card__body">
                    <p class="advantage-card__text">
                        Уютные палаты разного уровня комфорта, Сбалансированное 4-х разовое питание и
                        круглосуточный медицинский уход квалифицированных сотрудников.
                    </p>
                </div>
                <div class="advantage-card__image-wrap">
                    <img
                        src="./assets/images/components/cards/advantage.webp"
                        alt=""
                        class="advantage-card__image"
                    />
                </div>
            </div>
        </div>
        <div class="advantages__content">
            <span class="advantages__heading h h_h1">Почему «Альма»</span>
            <div class="advantages__text-wrap">
                <p class="advantages__text">
                    Мы придерживаемся индивидуального подхода к каждому пациенту, учитывая его уникальные
                    потребности и цели. Наша цель - не только преодолеть физическую зависимость, но и помочь
                    нашим пациентам восстановить свою психологическую, эмоциональную и социальную жизнь. Мы
                    заботимся о каждом пациенте и стремимся предоставить ему комфортную и безопасную среду, в
                    которой он сможет полностью посвятить себя процессу выздоровления.
                </p>
                <p class="advantages__text">
                    Мы признаем, что борьба с наркоманией - это сложный и многогранный процесс, и поэтому мы
                    предлагаем широкий спектр услуг, включая медицинское лечение, психотерапию, семейную
                    поддержку и реабилитационные программы. Мы уверены в нашей способности помочь людям
                    вернуться к здоровому и счастливому образу жизни.
                </p>
            </div>
        </div>
    </div>
</section>
