<section class="areas">
    <div class="areas__container container">
        <div class="areas__heading section-heading">
            <span class="h h_h1">Направления <span>клиники</span></span>

            <div class="navigation-buttons">
                <button type="button" class="swiper-button-prev">
                    <img src="./assets/images/icons/arrow-left.svg" alt="" />
                </button>
                <button type="button" class="swiper-button-next">
                    <img src="./assets/images/icons/arrow-right.svg" alt="" />
                </button>
            </div>
        </div>
        <div class="areas__body">
            <div class="areas__slider swiper">
                <div class="areas__wrapper swiper-wrapper">
                    <div class="areas__slide swiper-slide"></div>
                </div>
            </div>
        </div>
    </div>
</section>
