<section class="slider-section slider-section_areas">
    <div class="slider-section__container container">
        <div class="slider-section__head section-heading">
            <span class="slider-section__heading h h_h1">Направления <span>клиники</span></span>

            <div class="navigation-buttons">
                <button type="button" class="swiper-button-prev">
                    <img src="./assets/images/icons/arrow-left.svg" alt="" />
                </button>
                <button type="button" class="swiper-button-next">
                    <img src="./assets/images/icons/arrow-right.svg" alt="" />
                </button>
            </div>
        </div>
        <div class="slider-section__body">
            <div class="slider-section__slider swiper">
                <ul class="slider-section__wrapper swiper-wrapper">
                    <li class="slider-section__slide swiper-slide">
                        <a href="#" class="slider-section__card slide-card">
                            <div class="slide-card__image-wrap">
                                <img
                                    src="./assets/images/components/cards/1.webp"
                                    alt=""
                                    class="slide-card__image"
                                />
                            </div>
                            <span class="slide-card__heading h h_h2">Общемедицинская</span>
                            <button type="button" class="slide-card__btn btn btn_ghost _no-hover">
                                <span class="btn__txt">Подробнее об услугах</span>
                                <div class="btn__icon arr">
                                    <svg
                                        width="9"
                                        height="16"
                                        viewBox="0 0 9 16"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M1 1L8 8L1 15"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </a>
                    </li>
                    <li class="slider-section__slide swiper-slide">
                        <a href="#" class="slider-section__card slide-card">
                            <div class="slide-card__image-wrap">
                                <img
                                    src="./assets/images/components/cards/2.webp"
                                    alt=""
                                    class="slide-card__image"
                                />
                            </div>
                            <span class="slide-card__heading h h_h2">Исследования</span>
                            <button type="button" class="slide-card__btn btn btn_ghost _no-hover">
                                <span class="btn__txt">Подробнее об услугах</span>
                                <div class="btn__icon arr">
                                    <svg
                                        width="9"
                                        height="16"
                                        viewBox="0 0 9 16"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M1 1L8 8L1 15"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </a>
                    </li>
                    <li class="slider-section__slide swiper-slide">
                        <a href="#" class="slider-section__card slide-card">
                            <div class="slide-card__image-wrap">
                                <img
                                    src="./assets/images/components/cards/3.webp"
                                    alt=""
                                    class="slide-card__image"
                                />
                            </div>
                            <span class="slide-card__heading h h_h2">Комплексные услуги</span>
                            <button type="button" class="slide-card__btn btn btn_ghost _no-hover">
                                <span class="btn__txt">Подробнее об услугах</span>
                                <div class="btn__icon arr">
                                    <svg
                                        width="9"
                                        height="16"
                                        viewBox="0 0 9 16"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M1 1L8 8L1 15"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </a>
                    </li>
                    <li class="slider-section__slide swiper-slide">
                        <a href="#" class="slider-section__card slide-card">
                            <div class="slide-card__image-wrap">
                                <img
                                    src="./assets/images/components/cards/1.webp"
                                    alt=""
                                    class="slide-card__image"
                                />
                            </div>
                            <span class="slide-card__heading h h_h2">Общемедицинская</span>
                            <button type="button" class="slide-card__btn btn btn_ghost _no-hover">
                                <span class="btn__txt">Подробнее об услугах</span>
                                <div class="btn__icon arr">
                                    <svg
                                        width="9"
                                        height="16"
                                        viewBox="0 0 9 16"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M1 1L8 8L1 15"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="slider-section__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
