<section class="article">
    <div class="container">
        <div class="article__content">
            <div class="article__text">
                <div class="article__description-block">
                    <p class="article__description">
                        Постродовая депрессия – это серьезное состояние, которое может затронуть новых
                        родителей в течение первых нескольких недель или месяцев после рождения ребенка. Это
                        не просто "грусть" или "постпартумная печальность", а медицинское состояние, которое
                        требует внимания и лечения. Симптомы постродовой депрессии могут варьироваться от
                        усталости и раздражительности до нарушений сна и низкого настроения, и они могут
                        значительно осложнить приспособление к новой роли родителя и повлиять на качество
                        жизни всей семьи.
                    </p>

                    <div class="seo__sidebar-info">
                        <figure class="seo__sidebar-info-icon">
                            <img src="./assets/images/icons/star-blue.svg" alt="" />
                        </figure>

                        <div class="seo__sidebar-info-text">
                            <span class="seo__sidebar-info-title"> Важно </span>

                            <p class="seo__sidebar-info-description">
                                Важно осознать, что постродовая депрессия не является чем‑то, что новые
                                родители должны переносить в одиночку или преодолевать без помощи. Обращение
                                за поддержкой и лечением — важный первый шаг на пути к выздоровлению.
                            </p>
                        </div>
                    </div>

                    <p class="article__description">
                        В этой статье мы рассмотрим причины появления постродовой депрессии, ее симптомы,
                        влияние на родителей и ребенка, а также методы лечения и поддержки, доступные для тех,
                        кто сталкивается с этим состоянием.
                    </p>
                </div>

                <div class="article__block">
                    <span class="article__block-title"> Отличия от обычной депрессии </span>

                    <ul class="article__block-list">
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Причина: гормональные изменения, стресс от ухода за ребенком.
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Интенсивность: может быть менее выраженной, но постоянной.
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Социальные факторы: изоляция, недостаток поддержки.
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Физиологические аспекты: усталость, изменения в аппетите.
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Психологические особенности: чувство вины, неуверенность в своих материнских
                                способностях.
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Влияние на ребенка: затрудняет установление эмоциональной связи.
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Лечение: часто включает консультации с психотерапевтом, поддержку семьи.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="article__subblock">
                    <span class="article__subblock-title"> Признаки депрессии у женщин </span>

                    <div class="article__block">
                        <span class="article__block-title">Распространенные проявления</span>

                        <ul class="article__block-list">
                            <li class="article__block-item">
                                <figure class="marker">
                                    <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                </figure>

                                <p class="article__block-item-text">
                                    Уменьшение интереса к привычным занятиям.
                                </p>
                            </li>
                            <li class="article__block-item">
                                <figure class="marker">
                                    <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                </figure>

                                <p class="article__block-item-text">Общее ухудшение настроения, грусть.</p>
                            </li>
                            <li class="article__block-item">
                                <figure class="marker">
                                    <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                </figure>

                                <p class="article__block-item-text">
                                    Проблемы со сном: бессонница или чрезмерная сонливость.
                                </p>
                            </li>
                            <li class="article__block-item">
                                <figure class="marker">
                                    <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                </figure>

                                <p class="article__block-item-text">
                                    Изменение аппетита: потеря или увеличение.
                                </p>
                            </li>
                            <li class="article__block-item">
                                <figure class="marker">
                                    <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                </figure>

                                <p class="article__block-item-text">
                                    Трудности в концентрации, нерешительность.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="article__block">
                        <span class="article__block-title"
                            >Признаки депрессии у женщины и нервного истощения</span
                        >

                        <ul class="article__block-list">
                            <li class="article__block-item">
                                <figure class="marker">
                                    <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                </figure>

                                <p class="article__block-item-text">
                                    Признаки депрессии у женщины и нервного истощения
                                </p>
                            </li>
                            <li class="article__block-item">
                                <figure class="marker">
                                    <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                </figure>

                                <p class="article__block-item-text">Тревожность, внутреннее напряжение.</p>
                            </li>
                            <li class="article__block-item">
                                <figure class="marker">
                                    <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                </figure>

                                <p class="article__block-item-text">
                                    Психосоматические недомогания: головные боли, расстройства пищеварения.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="article__banner">
                    <h2 class="article__banner-title">Причины депрессии у женщин</h2>

                    <ul class="article__banner-list">
                        <li class="article__banner-item">
                            Гормональные изменения: резкие колебания уровня эстрогена и прогестерона.
                        </li>
                        <li class="article__banner-item">
                            Физические изменения: боли после родов, изменение внешности.
                        </li>
                        <li class="article__banner-item">Недосып: из-за ухода за новорожденным.</li>
                        <li class="article__banner-item">Стресс: адаптация к новой роли, ответственности.</li>
                        <li class="article__banner-item">История: предшествующие эпизоды усиливают риск.</li>
                        <li class="article__banner-item">
                            Отсутствие поддержки: со стороны партнера, семьи, друзей.
                        </li>
                        <li class="article__banner-item">
                            Финансовые трудности: беспокойство о материальном обеспечении.
                        </li>
                        <li class="article__banner-item">
                            Нереализованные ожидания: разрыв между идеальными представлениями о материнстве и
                            реальностью.
                        </li>
                    </ul>
                </div>

                <div class="article__block">
                    <span class="article__block-title"
                        >Средство от депрессии для женщин: «Как восстановить радость жизни»</span
                    >

                    <p class="article__description">
                        Женская депрессия — многогранное состояние, сопряжённое с физиологическими,
                        психологическими и социальными факторами. Её сложность обусловлена гормональными
                        изменениями, социальными ожиданиями, чувствительностью к стрессу. Комплексный подход
                        включает психотерапию, медикаментозное лечение, изменение образа жизни. Уникальность
                        женского организма требует индивидуализации методов: учёта гормонального фона,
                        эмоциональных особенностей, жизненных обстоятельств.
                    </p>
                </div>

                <div class="article__block">
                    <span class="article__block-title">Психотерапия: Ключ к самопониманию</span>

                    <ul class="article__block-list">
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Когнитивноповеденческая: коррекция мыслей, поведения
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">Гештальттерапия: осознание текущего опыта</p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">Арттерапия: творческое самовыражение</p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Семейная терапия: взаимоотношения, решение конфликтов
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">Групповая терапия: поддержка, обмен опытом</p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Танцевальнодвигательная терапия: телесное освобождение
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">
                                Музыкотерапия: эмоциональный катарсис через музыку
                            </p>
                        </li>
                        <li class="article__block-item">
                            <figure class="marker">
                                <img src="./assets/images/icons/marker-icon.svg" alt="" />
                            </figure>

                            <p class="article__block-item-text">Биофидбек: контроль телесных процессов</p>
                        </li>
                    </ul>
                </div>
            </div>

            <aside class="article__info">
                <div class="documents__request">
                    <span class="documents__request-subtitle"> комплексный подход </span>

                    <figure class="documents__request-specialist">
                        <img src="./assets/images/sections/documents/specialist.webp" alt="" />
                    </figure>

                    <p class="documents__request-title h h_h2">Получите бесплатную консультацию!</p>

                    <button type="button" class="documents__request-button btn btn_primary">
                        <span class="btn__txt">Записаться на консультацию</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>

                    <a href="tel:79281074216" class="documents__request-link"> + 7 928 107 42 16 </a>
                </div>


                <div class="article__licenses">
                    <div class="swiper article-licenses-swiper">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <div data-modal="#certificate-modal" class="licenses__card --v2">
                                    <figure class="licenses__card-image">
                                        <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                    </figure>

                                    <span class="licenses__card-title"> Медицинская лицензия по психиатрии-наркологии </span>

                                    <button  class="licenses__card-button">
                                        <img src="./assets/images/icons/glass.svg" alt="" />
                                    </button>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div data-modal="#certificate-modal" class="licenses__card --v2">
                                    <figure class="licenses__card-image">
                                        <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                    </figure>

                                    <span class="licenses__card-title"> Медицинская лицензия по психиатрии-наркологии </span>

                                    <button class="licenses__card-button">
                                        <img src="./assets/images/icons/glass.svg" alt="" />
                                    </button>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div data-modal="#certificate-modal" class="licenses__card --v2">
                                    <figure class="licenses__card-image">
                                        <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                    </figure>

                                    <span class="licenses__card-title"> Медицинская лицензия по психиатрии-наркологии </span>

                                    <button class="licenses__card-button">
                                        <img src="./assets/images/icons/glass.svg" alt="" />
                                    </button>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div data-modal="#certificate-modal" class="licenses__card --v2">
                                    <figure class="licenses__card-image">
                                        <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                    </figure>

                                    <span class="licenses__card-title"> Медицинская лицензия по психиатрии-наркологии </span>

                                    <button class="licenses__card-button">
                                        <img src="./assets/images/icons/glass.svg" alt="" />
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="navigation-buttons">
                        <button type="button" class="swiper-button-prev">
                            <img src="./assets/images/icons/arrow-left.svg" alt="" />
                        </button>
                        <button type="button" class="swiper-button-next">
                            <img src="./assets/images/icons/arrow-right.svg" alt="" />
                        </button>
                    </div>

                    <div class="licenses__pagination slider-pagination">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
