<section class="banner">
    <div class="container">
        <div class="banner__content">
            <figure class="banner__image">
                <img src="./assets/images/sections/banner/banner-image.webp" alt="">
            </figure>

            <div class="banner__heading">
                <h2 class="banner__title">Научный подход в лечении</h2>
            </div>

            <div class="banner__info">
                <div class="banner__info-text">
                    <p class="banner__description">
                        Доверьтесь профессионалам, психологи выездной службы каждый день госпитализируют
                        нескольких пациентов.
                    </p>

                    <span class="banner__subtitle"> Поможем убедить пациента со сниженной мотивацией </span>
                </div>

                <button type="button" class="banner__button btn btn_primary">
                    <span class="btn__txt">Записаться на консультацию</span>
                    <svg
                        width="28"
                        height="24"
                        viewBox="0 0 28 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 6L7 12L1 18"
                            stroke="white"
                            stroke-opacity="0.2"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M11 6L17 12L11 18"
                            stroke="white"
                            stroke-opacity="0.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 6L27 12L21 18"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
