<section class="benefits">
    <div class="container">
        <div class="benefits__content">
            <div class="benefits__heading section-heading">
                <h2 class="h h_h1 heading-title"><span>Преимущетсва</span> клиники</h2>
            </div>

            <div class="swiper benefits-swiper">
                <ul class="swiper-wrapper benefits__list">
                    <li class="swiper-slide">
                        <div class="benefits__item">
                            <div class="benefits__item-heading">
                                <span class="benefits__item-title"> Круглосуточно </span>

                                <figure class="benefits__item-icon">
                                    <img
                                        src="./assets/images/icons/star.svg"
                                        alt=""
                                        class="advantage-card__icon"
                                    />
                                </figure>
                            </div>

                            <p class="benefits__item-description">
                                вызов профильного врача на дом, консультация онлайн или экстренная
                                госпитализации
                            </p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="benefits__item">
                            <div class="benefits__item-heading">
                                <span class="benefits__item-title"> Комфортно </span>

                                <figure class="benefits__item-icon">
                                    <img
                                        src="./assets/images/icons/star.svg"
                                        alt=""
                                        class="advantage-card__icon"
                                    />
                                </figure>
                            </div>

                            <p class="benefits__item-description">
                                свежие палаты, 3-х разовое питание и медицинское наблюдение 24/7
                            </p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="benefits__item">
                            <div class="benefits__item-heading">
                                <span class="benefits__item-title"> Результативно </span>

                                <figure class="benefits__item-icon">
                                    <img
                                        src="./assets/images/icons/star.svg"
                                        alt=""
                                        class="advantage-card__icon"
                                    />
                                </figure>
                            </div>

                            <p class="benefits__item-description">
                                профилактика, реабилитация, индивидуальная поддерживающая терапия
                            </p>

                            <figure class="benefits__item-backdrop">
                                <img src="./assets/images/bg/blue-light-bckdrop.webp" alt="" />
                            </figure>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="benefits__item">
                            <div class="benefits__item-heading">
                                <span class="benefits__item-title"> Быстро </span>

                                <figure class="benefits__item-icon">
                                    <img
                                        src="./assets/images/icons/star.svg"
                                        alt=""
                                        class="advantage-card__icon"
                                    />
                                </figure>
                            </div>

                            <p class="benefits__item-description">
                                в нашем медицинском центре есть собственная лаборатория для забора анализов
                            </p>

                            <figure class="benefits__item-backdrop">
                                <img src="./assets/images/bg/blue-bckdrop.webp" alt="" />
                            </figure>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="benefits__item">
                            <div class="benefits__item-heading">
                                <span class="benefits__item-title"> Эффективно </span>

                                <figure class="benefits__item-icon">
                                    <img
                                        src="./assets/images/icons/star.svg"
                                        alt=""
                                        class="advantage-card__icon"
                                    />
                                </figure>
                            </div>

                            <p class="benefits__item-description">
                                диагностика на смежные заболевания, консультации и лечение у узких
                                специалистов
                            </p>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="benefits__item">
                            <div class="benefits__item-heading">
                                <span class="benefits__item-title"> Доступно </span>

                                <figure class="benefits__item-icon">
                                    <img
                                        src="./assets/images/icons/star.svg"
                                        alt=""
                                        class="advantage-card__icon"
                                    />
                                </figure>
                            </div>

                            <p class="benefits__item-description">
                                мы стараемся поддерживать низкие цены  на обследования и лечение
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="benefits__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
