<section class="block-404">
    <div class="container">
        <div class="block-404__inner">
            <div class="block-404__left">
                <div class="h h_h1">Страница не найдена</div>
                <div class="block-404__subtitle txt18">
                    Такой страницы не существует либо она была удалена
                </div>
                <div class="block-404__link">
                    <a href="../home.html" class="btn btn_primary">
                        <span class="btn__txt">Вернуться на главную</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="block-404__right">
                <div class="block-404__text">404</div>
            </div>
        </div>
    </div>
</section>
