<section class="comprehensive-s">
    <div class="container">
        <div class="comprehensive-s__title h_h1">Комплексные услуги</div>
        <div class="comprehensive-s__wrapper">
            <div class="comprehensive-s__inner">
                <div class="comprehensive-box">
                    <div class="comprehensive-box__inner">
                        <figure class="comprehensive-box__icon">
                            <img src="./assets/images/sections/prices/prices-icon-1.svg" alt="">
                        </figure>
                        <div class="comprehensive-box__price">
                            4 000 <sub>₽</sub>
                        </div>
                    </div>
                    <div class="comprehensive-box__content">
                        <div class="comprehensive-box__title">Консультация врача + обследование</div>
                        <div class="comprehensive-box__text">Стоимость лечения зависит от вида заболевания, типа его течения, тяжести состояния</div>
                        <div class="comprehensive-box__info">Информация по услуге:</div>
                        <ul class="comprehensive-box__lists">
                            <li class="comprehensive-box__item">Время консультации 40-80 минут</li>
                            <li class="comprehensive-box__item">Сбор анамнеза</li>
                            <li class="comprehensive-box__item">Тестирование на психические расстройства</li>
                            <li class="comprehensive-box__item">Предварительный анализ состояния</li>
                            <li class="comprehensive-box__item">Корректировка схемы текущего лечения (если есть)</li>
                            <li class="comprehensive-box__item">Подбор вариантов лечения – примерные сроки, стоимость, виды терапии</li>
                        </ul>
                        <button class="comprehensive-box__all link">
                            развернуть
                        </button>
                    </div>
                  

                    <button class="comprehensive-box__button">
                        <span>Записаться</span>
                        <figure class="arrow-icon">
                            <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M7 3L14 10L7 17"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </figure>
                    </button>
                </div>
                <div class="comprehensive-box">
                    <div class="comprehensive-box__inner">
                        <figure class="comprehensive-box__icon">
                            <img src="./assets/images/sections/prices/prices-icon-2.svg" alt="">
                        </figure>
                        <div class="comprehensive-box__price">
                            65 400 <sub>₽</sub>
                        </div>
                    </div>
                    <div class="comprehensive-box__content">
                        <div class="comprehensive-box__title">Стационарное лечение</div>
                        <div class="comprehensive-box__text">Стоимость лечения зависит от вида заболевания, типа его течения, тяжести состояния</div>
                        <div class="comprehensive-box__info">Информация по услуге:</div>
                        <ul class="comprehensive-box__lists">
                            <li class="comprehensive-box__item">Время консультации 40-80 минут</li>
                            <li class="comprehensive-box__item">Сбор анамнеза</li>
                            <li class="comprehensive-box__item">Тестирование на психические расстройства</li>
                            <li class="comprehensive-box__item">Предварительный анализ состояния</li>
                            <li class="comprehensive-box__item">Корректировка схемы текущего лечения (если есть)</li>
                            <li class="comprehensive-box__item">Подбор вариантов лечения – примерные сроки, стоимость, виды терапии</li>
                        </ul>
                        <button class="comprehensive-box__all link">
                            развернуть
                        </button>
                    </div>
                  

                    <button class="comprehensive-box__button">
                        <span>Записаться</span>
                        <figure class="arrow-icon">
                            <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M7 3L14 10L7 17"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </figure>
                    </button>
                </div>
                <div class="comprehensive-box">
                    <div class="comprehensive-box__inner">
                        <figure class="comprehensive-box__icon">
                            <img src="./assets/images/sections/prices/prices-icon-3.svg" alt="">
                        </figure>
                        <div class="comprehensive-box__price">
                            12 600 <sub>₽</sub>
                        </div>
                    </div>
                    <div class="comprehensive-box__content">
                        <div class="comprehensive-box__title">Амбулаторная терапия «Начальная»</div>
                        <div class="comprehensive-box__text">Стоимость лечения зависит от вида заболевания, типа его течения, тяжести состояния</div>
                        <div class="comprehensive-box__info">Информация по услуге:</div>
                        <ul class="comprehensive-box__lists">
                            <li class="comprehensive-box__item">Время консультации 40-80 минут</li>
                            <li class="comprehensive-box__item">Сбор анамнеза</li>
                            <li class="comprehensive-box__item">Тестирование на психические расстройства</li>
                            <li class="comprehensive-box__item">Предварительный анализ состояния</li>
                            <li class="comprehensive-box__item">Корректировка схемы текущего лечения (если есть)</li>
                            <li class="comprehensive-box__item">Подбор вариантов лечения – примерные сроки, стоимость, виды терапии</li>
                        </ul>
                        <button class="comprehensive-box__all link">
                            развернуть
                        </button>
                    </div>
                  

                    <button class="comprehensive-box__button">
                        <span>Записаться</span>
                        <figure class="arrow-icon">
                            <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M7 3L14 10L7 17"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </figure>
                    </button>
                </div>
                <div class="comprehensive-box">
                    <div class="comprehensive-box__inner">
                        <figure class="comprehensive-box__icon">
                            <img src="./assets/images/sections/prices/prices-icon-4.svg" alt="">
                        </figure>
                        <div class="comprehensive-box__price">
                            27 900 <sub>₽</sub>
                        </div>
                    </div>
                    <div class="comprehensive-box__content">
                        <div class="comprehensive-box__title">Амбулаторная терапия «Оптимальная»</div>
                        <div class="comprehensive-box__text">Стоимость лечения зависит от вида заболевания, типа его течения, тяжести состояния</div>
                        <div class="comprehensive-box__info">Информация по услуге:</div>
                        <ul class="comprehensive-box__lists">
                            <li class="comprehensive-box__item">Время консультации 40-80 минут</li>
                            <li class="comprehensive-box__item">Сбор анамнеза</li>
                            <li class="comprehensive-box__item">Тестирование на психические расстройства</li>
                            <li class="comprehensive-box__item">Предварительный анализ состояния</li>
                            <li class="comprehensive-box__item">Корректировка схемы текущего лечения (если есть)</li>
                            <li class="comprehensive-box__item">Подбор вариантов лечения – примерные сроки, стоимость, виды терапии</li>
                        </ul>
                        <button class="comprehensive-box__all link">
                            развернуть
                        </button>
                    </div>
                  

                    <button class="comprehensive-box__button">
                        <span>Записаться</span>
                        <figure class="arrow-icon">
                            <svg
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M7 3L14 10L7 17"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </figure>
                    </button>
                </div>
            </div>
            <article class="prices__consultation">
                <div class="prices__consultation-wrapper">
                    <figure class="prices__consultation-icon">
                        <img src="./assets/images/icons/star-blue.svg" alt="" />
                    </figure>

                    <span class="prices__consultation-title _mobile-only">Консультация врача от 1 500 ₽</span>
                </div>

                <div class="prices__consultation-text">
                    <span class="prices__consultation-title _desktop-only"
                        >Консультация врача от 1 500 ₽
                    </span>

                    <p class="prices__consultation-description">
                        Индивидуальный подход – в каждом пациенте мы видим личность, которая нуждается в
                        срочной психотерапевтической или медикаментозной терапии, учитываем это при лечении и
                        общении
                    </p>
                </div>

                <button type="button" class="prices__consultation-button btn btn_primary">
                    <span class="btn__txt">Записаться на консультацию</span>
                    <svg
                        width="28"
                        height="24"
                        viewBox="0 0 28 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 6L7 12L1 18"
                            stroke="white"
                            stroke-opacity="0.2"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M11 6L17 12L11 18"
                            stroke="white"
                            stroke-opacity="0.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 6L27 12L21 18"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </article>
        </div>
    </div>
</section>