<section class="conditions">
    <div class="container">
        <div class="conditions__content">
            <h2 class="conditions__title h h_h1">Условия размещения в стационаре</h2>

            <div data-tabs class="conditions__tabs">
                <nav class="swiper conditions-tabs-swiper">
                    <div data-tabs-titles class="swiper-wrapper">
                        <button class="swiper-slide conditions__tabs-tab tab _active">Палата «Эконом»</button>
                        <button class="swiper-slide conditions__tabs-tab tab">Палата «Стандарт»</button>
                        <button class="swiper-slide conditions__tabs-tab tab">Палата «VIP»</button>
                    </div>
                </nav>

                <div data-tabs-body class="conditions__tabs-content">
                    <div class="conditions__tabs-block" data-tabs-item>
                        <a href="" class="conditions__tabs-info">
                            <span class="conditions__tabs-info-title">1-местная палата с душевой и туалетом
                            </span>

                            <ul class="conditions__tabs-info-list">
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Прикрепленный психиатр
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Наблюдение
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Медикаменты
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    3х разовое питание
                                </li>
                            </ul>

                            <div class="conditions__tabs-info-bottom">
                                <p class="conditions__tabs-info-price">
                                    <sup>12 000 ₽</sup>

                                    <sub>/ сутки</sub>
                                </p>

                                <div class="conditions__tabs-info-link">
                                    <span>Заказать</span>
                                </div>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>

                        <div class="conditions__tabs-gallery">
                           <div class="conditions__tabs-gallery-wrapper">
                               <div class="swiper conditions-gallery-swiper">
                                   <ul class="swiper-wrapper">
                                       <li class="swiper-slide">
                                           <figure class="conditions__tabs-gallery-item">
                                               <img
                                                   src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                   alt=""
                                               />
                                           </figure>
                                       </li>
                                       <li class="swiper-slide">
                                           <figure class="conditions__tabs-gallery-item">
                                               <img
                                                   src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                   alt=""
                                               />
                                           </figure>
                                       </li>
                                       <li class="swiper-slide">
                                           <figure class="conditions__tabs-gallery-item">
                                               <img
                                                   src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                   alt=""
                                               />
                                           </figure>
                                       </li>
                                       <li class="swiper-slide">
                                           <figure class="conditions__tabs-gallery-item">
                                               <img
                                                   src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                   alt=""
                                               />
                                           </figure>
                                       </li>
                                   </ul>
                               </div>

                               <div class="conditions__navigation-buttons navigation-buttons">
                                   <button type="button" class="swiper-button-prev">
                                       <img src="./assets/images/icons/arrow-left.svg" alt="" />
                                   </button>
                                   <button type="button" class="swiper-button-next">
                                       <img src="./assets/images/icons/arrow-right.svg" alt="" />
                                   </button>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div class="conditions__tabs-block" data-tabs-item>
                        <a href="" class="conditions__tabs-info">
                            <span class="conditions__tabs-info-title">1-местная палата с душевой и туалетом
                            </span>

                            <ul class="conditions__tabs-info-list">
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Прикрепленный психиатр
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Наблюдение
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Медикаменты
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    3х разовое питание
                                </li>
                            </ul>

                            <div class="conditions__tabs-info-bottom">
                                <p class="conditions__tabs-info-price">
                                    <sup>12 000 ₽</sup>

                                    <sub>/ сутки</sub>
                                </p>

                                <div class="conditions__tabs-info-link">
                                    <span>Заказать</span>
                                </div>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>

                        <div class="conditions__tabs-gallery">
                            <div class="conditions__tabs-gallery-wrapper">
                                <div class="swiper conditions-gallery-swiper">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide">
                                            <figure class="conditions__tabs-gallery-item">
                                                <img
                                                    src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                    alt=""
                                                />
                                            </figure>
                                        </li>
                                        <li class="swiper-slide">
                                            <figure class="conditions__tabs-gallery-item">
                                                <img
                                                    src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                    alt=""
                                                />
                                            </figure>
                                        </li>
                                        <li class="swiper-slide">
                                            <figure class="conditions__tabs-gallery-item">
                                                <img
                                                    src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                    alt=""
                                                />
                                            </figure>
                                        </li>
                                        <li class="swiper-slide">
                                            <figure class="conditions__tabs-gallery-item">
                                                <img
                                                    src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                    alt=""
                                                />
                                            </figure>
                                        </li>
                                    </ul>
                                </div>

                                <div class="conditions__navigation-buttons navigation-buttons">
                                    <button type="button" class="swiper-button-prev">
                                        <img src="./assets/images/icons/arrow-left.svg" alt="" />
                                    </button>
                                    <button type="button" class="swiper-button-next">
                                        <img src="./assets/images/icons/arrow-right.svg" alt="" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="conditions__tabs-block" data-tabs-item>
                        <a href="" class="conditions__tabs-info">
                            <span class="conditions__tabs-info-title">1-местная палата с душевой и туалетом
                            </span>

                            <ul class="conditions__tabs-info-list">
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Прикрепленный психиатр
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Наблюдение
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    Медикаменты
                                </li>
                                <li class="conditions__tabs-info-item">
                                    <figure class="marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    3х разовое питание
                                </li>
                            </ul>

                            <div class="conditions__tabs-info-bottom">
                                <p class="conditions__tabs-info-price">
                                    <sup>12 000 ₽</sup>

                                    <sub>/ сутки</sub>
                                </p>

                                <div class="conditions__tabs-info-link">
                                    <span>Заказать</span>
                                </div>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>

                        <div class="conditions__tabs-gallery">
                            <div class="conditions__tabs-gallery-wrapper">
                                <div class="swiper conditions-gallery-swiper">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide">
                                            <figure class="conditions__tabs-gallery-item">
                                                <img
                                                    src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                    alt=""
                                                />
                                            </figure>
                                        </li>
                                        <li class="swiper-slide">
                                            <figure class="conditions__tabs-gallery-item">
                                                <img
                                                    src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                    alt=""
                                                />
                                            </figure>
                                        </li>
                                        <li class="swiper-slide">
                                            <figure class="conditions__tabs-gallery-item">
                                                <img
                                                    src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                    alt=""
                                                />
                                            </figure>
                                        </li>
                                        <li class="swiper-slide">
                                            <figure class="conditions__tabs-gallery-item">
                                                <img
                                                    src="./assets/images/sections/conditions/conditions-gallery-image.webp"
                                                    alt=""
                                                />
                                            </figure>
                                        </li>
                                    </ul>
                                </div>

                                <div class="conditions__navigation-buttons navigation-buttons">
                                    <button type="button" class="swiper-button-prev">
                                        <img src="./assets/images/icons/arrow-left.svg" alt="" />
                                    </button>
                                    <button type="button" class="swiper-button-next">
                                        <img src="./assets/images/icons/arrow-right.svg" alt="" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
