<section class="detailed-spa">
    <div class="container">
        <div class="detailed-spa__wrapper">
            <div class="detailed-spa__left">
                <div class="detailed-spa__title h_h1">
                    О наших специалистах
                </div>
                <div class="detailed-spa__text">
                    В медицинском центре Альма мы лечим все виды расстройств – от легких нарушений сна до шизофрении.
                </div>
            </div>
            <div class="detailed-spa__video detailed-spa__right">
                <div class="video-section__body">
                    <div data-video-wrap class="video-section__video-wrap">
                        <video
                            data-video="./assets/images/components/video-preview.webp"
                            class="modal__video video-js"
                        >
                            <source src="./assets/video/video.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>