<section class="detailed-sped">
    <div class="container">
        <div class="detailed-sped__wrapper">
            <aside class="detailed-sped-aside">
                <div class="detailed-sped-aside__top">
                    <div class="detailed-sped-aside__top-title h_h2">
                        Получите бесплатную консультацию!
                    </div>

                    <a href="tel:79281074216" class="detailed-sped-aside__top-phone">
                        + 7 928 107 42 16
                    </a>
                </div>
                <div class="detailed-sped-aside__image">
                    <img src="./assets/images/sections/detailed-spm/greydoc.png" alt="">
                </div>
                <div class="detailed-sped-aside__bottom">
                    <button type="button" class="detailed-sped-aside__btn btn btn_primary btn_white">
                        <span class="btn__txt">Записаться</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>
            </aside>
            <div class="detailed-sped__content">
                <div class="detailed-sped__lists-title">Опыт работы</div>
                <ul class="detailed-sped__lists">
                    <li>2005-2007 г РЦ Вершина (г. Москва);</li>
                    <li>2007г - ведущий обучающей программы РЦ Возрождение ( г. Туапсе);</li>
                    <li>2008-2009г РЦ Жизнь (г.Москва);</li>
                    <li>2009-2021 г РЦ Эдельвейс (г. Москва).</li>
                </ul>
                <div class="detailed-sped__lists-title">Образование</div>
                <ul class="detailed-sped__lists">
                    <li>2001-2007 г обучение ГОУВПО «Владимирский государственный университет»  по специальности «Психология»</li>
                    <li>2005 г. прошла обучение и стажировку в Терапевтическом сообществе «Familia» Федерации ТС Средней и Восточной Европы г. Гливицы, Польша.</li>
                    <li>2007 г. проходила обучение в «Школа Независимости Валентины Новиковой» г.Санкт- Петербург.</li>
                    <li>2019 г. Окончила 1-ю ступень МГИ ( Московский Гештальт Институт).</li>
                    <li>На данный момент обучается на 2 ступени МГИ. Специализация МГИ «Сексология» и «Работа с травмой».</li>
                </ul>
                <div class="detailed-sped__lists-title">Профессиональная деятельность</div>
                <ul class="detailed-sped__lists">
                    <li>Индивидуальное консультирование ( частная практика);</li>
                    <li>Ведущий обучающих программ для сотрудников реабилитационных учреждений;</li>
                    <li>Групповое и индивидуальное консультирование для зависимых и созависимых;</li>
                    <li>Первичное консультирование и диагностика для стационарных пациентов;</li>
                    <li>Мотивационная работа с зависимыми;</li>
                    <li>Семейная терапия;</li>
                    <li>Кризисы в отношениях и выход из кризиса;</li>
                    <li>Работа с травмой;</li>
                    <li>Арт-терапия;</li>
                    <li>Телесная терапия в гештальт-подходе.</li>
                </ul>
            </div>
        </div>
    </div>
</section>