<section class="directions">
    <div class="directions__container container">
        <div class="directions__image-wrap">
            <img src="./assets/images/sections/directions/1.webp" alt="" class="directions__image" />
        </div>
        <div class="directions__content">
            <span data-da=".directions__container,768,first" class="directions__heading h h_h1"
                >Мы работаем с любыми направлениями психиатрических и психических заболеваний</span
            >
            <div class="directions__groups">
                <div class="directions__group group-directions">
                    <div class="group-directions__head">
                        <span class="group-directions__heading h h_h2">Психиатрические заболевания</span>
                        <div class="directions__navigation-buttons navigation-buttons">
                            <button
                                type="button"
                                class="swiper-button-prev swiper-button-disabled"
                                disabled=""
                            >
                                <img src="./assets/images/icons/arrow-left.svg" alt="" />
                            </button>
                            <button type="button" class="swiper-button-next">
                                <img src="./assets/images/icons/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </div>
                    <div class="group-directions__body">
                        <div class="group-directions__slider swiper">
                            <div class="group-directions__wrapper swiper-wrapper">
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Анорексия</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps">Аутизм</span>
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Аффективные Расстройства</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Биполярное расстройство</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Галлюцинации</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Анорексия</span
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="directions__group group-directions">
                    <div class="group-directions__head">
                        <span class="group-directions__heading h h_h2">Психические заболевания</span>
                        <div class="directions__navigation-buttons navigation-buttons">
                            <button
                                type="button"
                                class="swiper-button-prev swiper-button-disabled"
                                disabled=""
                            >
                                <img src="./assets/images/icons/arrow-left.svg" alt="" />
                            </button>
                            <button type="button" class="swiper-button-next">
                                <img src="./assets/images/icons/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </div>
                    <div class="group-directions__body">
                        <div class="group-directions__slider swiper">
                            <div class="group-directions__wrapper swiper-wrapper">
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Деменция</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Депрессивное расстройство</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Депрессия</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Игромания</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Истерические расстройства</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Деменция</span
                                    >
                                </a>
                                <a href="#" class="group-directions__badge swiper-slide">
                                    <span class="group-directions__badge-text txt16 txt16_caps"
                                        >Игромания</span
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
