<section class="discounts">
    <div class="discounts__container container">
        <div class="discounts__head">
            <span class="discounts__heading h h_h1">Скидки на лечение</span>
            <a href="#" class="discounts__btn btn btn_primary">
                <span class="btn__txt">Смотреть все акции</span>
                <svg
                    width="28"
                    height="24"
                    viewBox="0 0 28 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1 6L7 12L1 18"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M11 6L17 12L11 18"
                        stroke="white"
                        stroke-opacity="0.5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M21 6L27 12L21 18"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
        </div>
        <div class="discounts__body">
            <div class="discounts__slider swiper">
                <ul class="discounts__wrapper swiper-wrapper">
                    <li class="discounts__slide discount-card swiper-slide">
                        <a href="#" class="discount-card__inner">
                            <div class="discount-card__body">
                                <span class="discount-card__heading h h_h2">Решись на лечение</span>
                                <p class="discount-card__text">Скидка 20% на первое обращение в клинику</p>
                            </div>
                            <div class="discount-card__footer">
                                <span class="discount-card__footer-text">Скидки не суммируются</span>
                                <div class="discount-card__arr arr _no-hover">
                                    <svg
                                        width="9"
                                        height="16"
                                        viewBox="0 0 9 16"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M1 1L8 8L1 15"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="discounts__slide discount-card swiper-slide">
                        <a href="#" class="discount-card__inner">
                            <div class="discount-card__body">
                                <span class="discount-card__heading h h_h2">Комплексное лечение</span>
                                <p class="discount-card__text">
                                    5 дней стационара по цене 3-х при комплексном обследовании
                                </p>
                            </div>
                            <div class="discount-card__footer">
                                <span class="discount-card__footer-text">Скидки не суммируются</span>
                                <div class="discount-card__arr arr _no-hover">
                                    <svg
                                        width="9"
                                        height="16"
                                        viewBox="0 0 9 16"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M1 1L8 8L1 15"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="discounts__slide discount-card swiper-slide">
                        <a href="#" class="discount-card__inner">
                            <div class="discount-card__body">
                                <span class="discount-card__heading h h_h2">Вывод из запоя амбулаторно</span>
                                <p class="discount-card__text">От 3000 р. полное выведение метаболитов</p>
                            </div>
                            <div class="discount-card__footer">
                                <span class="discount-card__footer-text">Скидки не суммируются</span>
                                <div class="discount-card__arr arr _no-hover">
                                    <svg
                                        width="9"
                                        height="16"
                                        viewBox="0 0 9 16"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M1 1L8 8L1 15"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="discounts__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
