<section class="documents">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Регламентирующие документы и контролирующие органы</span>
        </nav>

        <div class="documents__content">
            <div class="documents__info">
                <h2 class="documents__title h h_h1">Регламентирующие документы и контролирующие органы</h2>

                <ul class="documents__list">
                    <li class="documents__item">
                        <figure class="documents__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="documents__item-text">
                            Органы управления: Министерство здравоохранения Ростовской области
                        </p>
                    </li>
                    <li class="documents__item">
                        <figure class="documents__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="documents__item-text">Правила записи на первичный прием</p>
                    </li>
                    <li class="documents__item">
                        <figure class="documents__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="documents__item-text">Правила записи на первичный прием</p>
                    </li>
                    <li class="documents__item">
                        <figure class="documents__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="documents__item-text">Правила записи на первичный прием</p>
                    </li>
                    <li class="documents__item">
                        <figure class="documents__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="documents__item-text">Правила записи на первичный прием</p>
                    </li>
                    <li class="documents__item">
                        <figure class="documents__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="documents__item-text">Правила записи на первичный прием</p>
                    </li>
                </ul>
            </div>

            <aside class="documents__request">
                <span class="documents__request-subtitle"> комплексный подход </span>

                <figure class="documents__request-specialist">
                    <img src="./assets/images/sections/documents/specialist.webp" alt="" />
                </figure>

                <p class="documents__request-title h h_h2">Получите бесплатную консультацию!</p>

                <button type="button" class="documents__request-button btn btn_primary">
                    <span class="btn__txt">Записаться на консультацию</span>
                    <svg
                        width="28"
                        height="24"
                        viewBox="0 0 28 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 6L7 12L1 18"
                            stroke="white"
                            stroke-opacity="0.2"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M11 6L17 12L11 18"
                            stroke="white"
                            stroke-opacity="0.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 6L27 12L21 18"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>

                <a href="tel:79281074216" class="documents__request-link"> + 7 928 107 42 16 </a>
            </aside>
        </div>
    </div>
</section>
