<section class="gallery">
    <div class="container">
        <div class="gallery__content">
            <h2 class="gallery__title h h_h1">Фотогалерея клиники</h2>

            <div class="swiper gallery-swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <figure class="gallery__item">
                            <img src="./assets/images/sections/gallery/image-1.webp" alt="" />
                        </figure>
                    </li>
                    <li class="swiper-slide">
                        <figure class="gallery__item">
                            <img src="./assets/images/sections/gallery/image-2.webp" alt="" />
                        </figure>
                    </li>
                    <li class="swiper-slide">
                        <figure class="gallery__item">
                            <img src="./assets/images/sections/gallery/image-1.webp" alt="" />
                        </figure>
                    </li>
                    <li class="swiper-slide">
                        <figure class="gallery__item">
                            <img src="./assets/images/sections/gallery/image-2.webp" alt="" />
                        </figure>
                    </li>
                    <li class="swiper-slide">
                        <figure class="gallery__item">
                            <img src="./assets/images/sections/gallery/image-1.webp" alt="" />
                        </figure>
                    </li>
                    <li class="swiper-slide">
                        <figure class="gallery__item">
                            <img src="./assets/images/sections/gallery/image-2.webp" alt="" />
                        </figure>
                    </li>
                </ul>
            </div>

            <div class="gallery__navigation-buttons navigation-buttons _desktop-only">
                <button type="button" class="swiper-button-prev">
                    <img src="./assets/images/icons/arrow-left.svg" alt="" />
                </button>
                <button type="button" class="swiper-button-next">
                    <img src="./assets/images/icons/arrow-right.svg" alt="" />
                </button>
            </div>

            <div class="gallery__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
