<section class="helpful">
    <div class="container">
        <div class="helpful__content">
            <h2 class="helpful__title h h_h1 _mobile-only">Обследования</h2>

            <div class="helpful__poster">
                <figure class="helpful__poster-image">
                    <img src="./assets/images/sections/helpful/poster-image.webp" alt="" />
                </figure>

                <span class="helpful__poster-subtitle"> мы вам поможем </span>
            </div>

            <div class="helpful__text">
                <h2 class="helpful__title h h_h1 _desktop-only">Обследования</h2>

                <p class="helpful__description">
                    В отделении диагностики проводятся различные виды ультразвуковой диагностики (УЗИ),
                    эхокардиография (ЭхоКГ), холтеровское мониторирование, электрокардиограмма (ЭКГ),
                    электроэнцефалограмма (ЭЭГ) по полному неврологическому протоколу, стимуляционная и
                    игольчатая электронейромиография (ЭНМГ), клинический и биохимический анализ крови и мочи.
                    Все исследования проводятся на сертифицированном оборудовании.
                </p>
            </div>
        </div>
    </div>
</section>
