<section class="helpful">
    <div class="container">
        <div class="helpful__content">
            <h2 class="helpful__title h h_h1 _mobile-only">Панические атаки – что это</h2>

            <div class="helpful__poster">
                <figure class="helpful__poster-image">
                    <img src="./assets/images/sections/helpful/poster-image.webp" alt="">
                </figure>

                <span class="helpful__poster-subtitle"> мы вам поможем </span>
            </div>

            <div class="helpful__text">
                <h2 class="helpful__title h h_h1 _desktop-only">Панические атаки – что это</h2>

                <p class="helpful__description">
                    Панические атаки – это расстройство психики, при котором у человека внезапно и без видимых
                    (адекватных) причин возникают острое чувство немотивированного страха, паника. В это же
                    время больной испытывает неприятные ощущения – сильное сердцебиение, дрожь, затрудненность
                    дыхания, потливость, онемение конечностей. Возникает страх неминуемой смерти прямо сейчас.
                </p>

                <p class="helpful__description">
                    Особенность заболевания - признаки панической атаки без лечения (неотложного медицинского
                    вмешательства) длятся от нескольких минут до часа и более и всегда с лавинообразным
                    течением: внезапное интенсивное начало и постепенное медленное снижение симптоматики.
                    После приступа чаще всего бывает слабость, утомленность, головная боль, сонливость.
                </p>
            </div>
        </div>
    </div>
</section>
