<section class="knowledge-m">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <a href="#" class="breadcrumbs__txt">База знаний</a>
            <span class="breadcrumbs__txt">Послеродовая депрессия у женщин: Современные методы лечения ПРД</span>
        </nav>
        <div class="knowledge-m__wrapper">
            <div class="knowledge-m__left">
                <div class="knowledge-m__content">
                    <div class="knowledge-m__content-inner">
                        <div class="knowledge-m__category">Депрессия</div>
                        <div class="knowledge-m__date">Обновлено 27.07.2022</div>
                    </div>
                    <div class="knowledge-m__content-block">
                        <div class="knowledge-m__stars">
                            <div class="knowledge-m__star">
                                <img src="./assets/images/icons/star-small-filled.svg" alt="">
                            </div>
                            <div class="knowledge-m__star">
                                <img src="./assets/images/icons/star-small-filled.svg" alt="">
                            </div>
                            <div class="knowledge-m__star">
                                <img src="./assets/images/icons/star-small-filled.svg" alt="">
                            </div>
                            <div class="knowledge-m__star">
                                <img src="./assets/images/icons/star-small-filled.svg" alt="">
                            </div>
                            <div class="knowledge-m__star">
                                <img src="./assets/images/icons/star-small-contained.svg" alt="">
                            </div>
                        </div>
                        <div class="knowledge-m__view">
                            450
                        </div>
                    </div>
                    <div class="knowledge-m__title h h_h1">
                        Послеродовая депрессия у женщин: Современные методы лечения ПРД
                    </div>
                    <div class="knowledge-m__text">
                        Послеродовая депрессия у женщин - Эмоциональное состояние, возникающее после родов, характеризующееся пониженным настроением, усталостью, тревогой.
                    </div>
                </div>
            </div>
            <div class="knowledge-m__right">
                <div class="knowledge-m__image">
                    <img class="knowledge-m__image-desk" src="./assets/images/sections/knowledge-d/knowledge-d.svg" alt="">
                    <img class="knowledge-m__image-mob" src="./assets/images/sections/knowledge-d/knowledge-d-m.png" alt="">
                </div>
                <div class="knowledge-m__description">
                    <div class="knowledge-m__description-clock">Время чтения: 7-15 минут</div>
                    <div class="knowledge-m__description-audit">Статья проверена специалистом</div>
                </div>
            </div>
        </div>
    </div>
</section>