<section class="licenses">
    <div class="container">
        <div class="licenses__content">
            <div class="licenses__heading section-heading">
                <h2 class="h h_h1 heading-title"><span>Лицензии</span></h2>

                <div class="navigation-buttons">
                    <button type="button" class="swiper-button-prev">
                        <img src="./assets/images/icons/arrow-left.svg" alt="" />
                    </button>
                    <button type="button" class="swiper-button-next">
                        <img src="./assets/images/icons/arrow-right.svg" alt="" />
                    </button>
                </div>
            </div>

            <div class="swiper licenses-swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="licenses__item">
                            <figure class="licenses__item-image">
                                <img src="./assets/images/sections/licenses/license-image.webp" alt="">
                            </figure>

                            <span class="licenses__item-title">
                                Медицинская лицензия  по психиатрии-наркологии
                            </span>

                            <button class="licenses__item-button">
                                <img src="./assets/images/icons/glass.svg" alt="">
                            </button>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="licenses__item">
                            <figure class="licenses__item-image">
                                <img src="./assets/images/sections/licenses/license-image.webp" alt="">
                            </figure>

                            <span class="licenses__item-title">
                                Медицинская лицензия  по психиатрии-наркологии
                            </span>

                            <button class="licenses__item-button">
                                <img src="./assets/images/icons/glass.svg" alt="">
                            </button>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="licenses__item">
                            <figure class="licenses__item-image">
                                <img src="./assets/images/sections/licenses/license-image.webp" alt="">
                            </figure>

                            <span class="licenses__item-title">
                                Медицинская лицензия  по психиатрии-наркологии
                            </span>

                            <button class="licenses__item-button">
                                <img src="./assets/images/icons/glass.svg" alt="">
                            </button>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="licenses__item">
                            <figure class="licenses__item-image">
                                <img src="./assets/images/sections/licenses/license-image.webp" alt="">
                            </figure>

                            <span class="licenses__item-title">
                                Медицинская лицензия  по психиатрии-наркологии
                            </span>

                            <button class="licenses__item-button">
                                <img src="./assets/images/icons/glass.svg" alt="">
                            </button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="licenses__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
