<section class="opinions">
    <div class="opinions__container container">
        <div class="opinions__head section-heading">
            <span class="opinions__heading h h_h1">Мнения <span>специалистов</span></span>
        </div>
        <div class="opinions__body">
            <div class="opinions__slider swiper">
                <ul class="opinions__wrapper swiper-wrapper">
                    <li class="opinions__card-item swiper-slide">
                        <a href="#" class="opinions__card specialist-card specialist-card_has-quote">
                            <div class="specialist-card__top">
                                <figure class="specialist-card__image">
                                    <img
                                        src="./assets/images/sections/our-specialists/specialist-2.webp"
                                        alt=""
                                    />
                                </figure>

                                <span class="specialist-card__experience"> Стаж 15 лет </span>

                                <figure class="specialist-card__icon">
                                    <img src="./assets/images/icons/hat.svg" alt="" />
                                </figure>
                            </div>

                            <span class="specialist-card__job"> Невролог </span>

                            <p class="specialist-card__name">Банин Александр Сергеевич</p>

                            <p class="specialist-card__quote quote-txt">
                                «Наша зависимость делает нас рабом, особенно зависимость нашего самоуважения.»
                            </p>
                        </a>
                    </li>
                    <li class="opinions__card-item swiper-slide">
                        <a href="#" class="opinions__card specialist-card specialist-card_has-quote">
                            <div class="specialist-card__top">
                                <figure class="specialist-card__image">
                                    <img
                                        src="./assets/images/sections/our-specialists/specialist.webp"
                                        alt=""
                                    />
                                </figure>

                                <span class="specialist-card__experience"> Стаж 7 лет </span>

                                <figure class="specialist-card__icon">
                                    <img src="./assets/images/icons/hat.svg" alt="" />
                                </figure>
                            </div>

                            <span class="specialist-card__job"> Психиатр </span>

                            <p class="specialist-card__name">Воякина Валерия Георгиевна</p>

                            <p class="specialist-card__quote quote-txt">
                                «Наша зависимость делает нас рабом, особенно зависимость нашего самоуважения.»
                            </p>
                        </a>
                    </li>
                    <li class="opinions__card-item swiper-slide">
                        <a href="#" class="opinions__card specialist-card specialist-card_has-quote">
                            <div class="specialist-card__top">
                                <figure class="specialist-card__image">
                                    <img
                                        src="./assets/images/sections/our-specialists/specialist.webp"
                                        alt=""
                                    />
                                </figure>

                                <span class="specialist-card__experience"> Стаж 7 лет </span>

                                <figure class="specialist-card__icon">
                                    <img src="./assets/images/icons/hat.svg" alt="" />
                                </figure>
                            </div>

                            <span class="specialist-card__job"> Психиатр </span>

                            <p class="specialist-card__name">Воякина Валерия Георгиевна</p>

                            <p class="specialist-card__quote quote-txt">
                                «Наша зависимость делает нас рабом, особенно зависимость нашего самоуважения.»
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="opinions__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
