<section class="other-articles">
    <div class="container">
        <div class="other-articles__title h_h1">
            Другие статьи
        </div>
        <div class="other-articles__wrapper">
            <div class="other-articles__swiper swiper">
                <div class="other-articles__swiper-wrapper swiper-wrapper">
                    <div class="other-articles__swiper-slide swiper-slide">
                        <article class="knowledge__card">
                            <a href="#">
                                <div class="knowledge__card-top">
                                    <figure class="knowledge__card-image">
                                        <img
                                            src="./assets/images/sections/knowledge/knowledge-card-image-2.webp"
                                            alt=""
                                        />
                                    </figure>
    
                                    <span class="knowledge__card-category"> Депрессия </span>
    
                                    <figure class="arrow-icon">
                                        <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 20 20"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 3L14 10L7 17"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </figure>
                                </div>
    
                                <p class="knowledge__card-description">Послеродовая депрессия у женщин: Современные методы лечения ПРД</p>
                            </a>
                        </article>
                    </div>
                    <div class="other-articles__swiper-slide swiper-slide">
                        <article class="knowledge__card">
                            <a href="#">
                                <div class="knowledge__card-top">
                                    <figure class="knowledge__card-image">
                                        <img
                                            src="./assets/images/sections/knowledge/knowledge-card-image-2.webp"
                                            alt=""
                                        />
                                    </figure>
    
                                    <span class="knowledge__card-category"> Депрессия </span>
    
                                    <figure class="arrow-icon">
                                        <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 20 20"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 3L14 10L7 17"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </figure>
                                </div>
    
                                <p class="knowledge__card-description">Послеродовая депрессия у женщин: Современные методы лечения ПРД</p>
                            </a>
                        </article>
                    </div>
                    <div class="other-articles__swiper-slide swiper-slide">
                        <article class="knowledge__card">
                            <a href="#">
                                <div class="knowledge__card-top">
                                    <figure class="knowledge__card-image">
                                        <img
                                            src="./assets/images/sections/knowledge/knowledge-card-image-2.webp"
                                            alt=""
                                        />
                                    </figure>
    
                                    <span class="knowledge__card-category"> Депрессия </span>
    
                                    <figure class="arrow-icon">
                                        <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 20 20"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 3L14 10L7 17"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </figure>
                                </div>
    
                                <p class="knowledge__card-description">Послеродовая депрессия у женщин: Современные методы лечения ПРД</p>
                            </a>
                        </article>
                    </div>
                    <div class="other-articles__swiper-slide swiper-slide">
                        <article class="knowledge__card">
                            <a href="#">
                                <div class="knowledge__card-top">
                                    <figure class="knowledge__card-image">
                                        <img
                                            src="./assets/images/sections/knowledge/knowledge-card-image-2.webp"
                                            alt=""
                                        />
                                    </figure>
    
                                    <span class="knowledge__card-category"> Депрессия </span>
    
                                    <figure class="arrow-icon">
                                        <svg
                                            width="20"
                                            height="20"
                                            viewBox="0 0 20 20"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M7 3L14 10L7 17"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </figure>
                                </div>
    
                                <p class="knowledge__card-description">Послеродовая депрессия у женщин: Современные методы лечения ПРД</p>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="other-articles__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>