<section class="services">
    <div class="container">
        <div class="services__content">
            <div class="services__heading section-heading">
                <h2 class="services__heading-title h h_h1">Наши <span>услуги</span></h2>

                <div class="services__navigation-buttons navigation-buttons">
                    <button type="button" class="swiper-button-prev">
                        <img src="./assets/images/icons/arrow-left.svg" alt="" />
                    </button>
                    <button type="button" class="swiper-button-next">
                        <img src="./assets/images/icons/arrow-right.svg" alt="" />
                    </button>
                </div>
            </div>

            <div class="swiper services-swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="#" class="services__item">
                            <figure class="services__item-image">
                                <img
                                    src="./assets/images/sections/our-services/services-image-1.webp"
                                    class="_desktop-only"
                                    alt=""
                                />
                                <img
                                    src="./assets/images/sections/our-services/mask-mobile.webp"
                                    class="_mobile-only"
                                    alt=""
                                />
                            </figure>

                            <span class="services__item-title h h_h2"> Психиатрия и психотерапия </span>

                            <ul class="services__item-features">
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Лечение зависимости от соли</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">
                                        Принудительное лечение наркомании
                                    </p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Интервенция наркоманов</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Детоксикация от наркотиков</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Вывод из запоя</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Вывод из запоя в стационаре</p>
                                </li>
                            </ul>

                            <div class="services__item-bottom">
                                <span>Подробнее об услугах</span>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="services__item">
                            <figure class="services__item-image">
                                <img
                                    src="./assets/images/sections/our-services/services-image-2.webp"
                                    class="_desktop-only"
                                    alt=""
                                />
                                <img
                                    src="./assets/images/sections/our-services/mask-mobile.webp"
                                    class="_mobile-only"
                                    alt=""
                                />
                            </figure>

                            <span class="services__item-title h h_h2"> Психиатрия и психотерапия </span>

                            <ul class="services__item-features">
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Лечение зависимости от соли</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">
                                        Принудительное лечение наркомании
                                    </p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Интервенция наркоманов</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Детоксикация от наркотиков</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Вывод из запоя</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Вывод из запоя в стационаре</p>
                                </li>
                            </ul>

                            <div class="services__item-bottom">
                                <span>Подробнее об услугах</span>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="services__item">
                            <figure class="services__item-image">
                                <img
                                    src="./assets/images/sections/our-services/services-image-3.webp"
                                    class="_desktop-only"
                                    alt=""
                                />
                                <img
                                    src="./assets/images/sections/our-services/mask-mobile.webp"
                                    class="_mobile-only"
                                    alt=""
                                />
                            </figure>

                            <span class="services__item-title h h_h2"> Психиатрия и психотерапия </span>

                            <ul class="services__item-features">
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Лечение зависимости от соли</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">
                                        Принудительное лечение наркомании
                                    </p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Интервенция наркоманов</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Детоксикация от наркотиков</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Вывод из запоя</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Вывод из запоя в стационаре</p>
                                </li>
                            </ul>

                            <div class="services__item-bottom">
                                <span>Подробнее об услугах</span>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="services__item">
                            <figure class="services__item-image">
                                <img
                                    src="./assets/images/sections/our-services/services-image-1.webp"
                                    class="_desktop-only"
                                    alt=""
                                />
                                <img
                                    src="./assets/images/sections/our-services/mask-mobile.webp"
                                    class="_mobile-only"
                                    alt=""
                                />
                            </figure>

                            <span class="services__item-title h h_h2"> Психиатрия и психотерапия </span>

                            <ul class="services__item-features">
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Лечение зависимости от соли</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">
                                        Принудительное лечение наркомании
                                    </p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Интервенция наркоманов</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Детоксикация от наркотиков</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Вывод из запоя</p>
                                </li>
                                <li class="services__item-feature">
                                    <figure class="services__item-feature-marker">
                                        <img src="./assets/images/icons/marker-icon.svg" alt="" />
                                    </figure>

                                    <p class="services__item-feature-text">Вывод из запоя в стационаре</p>
                                </li>
                            </ul>

                            <div class="services__item-bottom">
                                <span>Подробнее об услугах</span>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="services__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
