<section class="specialists">
    <div class="container">
        <div class="specialists__content">
            <div class="specialists__heading section-heading">
                <h2 class="specialists__heading-title h h_h1">Наши <span>специалисты</span></h2>

                <div class="specialists__navigation-buttons navigation-buttons">
                    <button type="button" class="swiper-button-prev">
                        <img src="./assets/images/icons/arrow-left.svg" alt="" />
                    </button>
                    <button type="button" class="swiper-button-next">
                        <img src="./assets/images/icons/arrow-right.svg" alt="" />
                    </button>
                </div>
            </div>

            <div class="swiper specialists-swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="#" class="specialists__item specialist-card">
                            <div class="specialist-card__top">
                                <figure class="specialist-card__image">
                                    <img
                                        src="./assets/images/sections/our-specialists/specialist.webp"
                                        alt=""
                                    />
                                </figure>

                                <span class="specialist-card__experience"> Стаж 7 лет </span>

                                <figure class="specialist-card__icon">
                                    <img src="./assets/images/icons/hat.svg" alt="" />
                                </figure>
                            </div>

                            <span class="specialist-card__job"> Психиатр </span>

                            <p class="specialist-card__name">Воякина Валерия Георгиевна</p>

                            <div class="specialist-card__bottom">
                                <span>Записаться на приём</span>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="specialists__item specialist-card">
                            <div class="specialist-card__top">
                                <figure class="specialist-card__image">
                                    <img
                                        src="./assets/images/sections/our-specialists/specialist.webp"
                                        alt=""
                                    />
                                </figure>

                                <span class="specialist-card__experience"> Стаж 7 лет </span>

                                <figure class="specialist-card__icon">
                                    <img src="./assets/images/icons/hat.svg" alt="" />
                                </figure>
                            </div>

                            <span class="specialist-card__job"> Психиатр </span>

                            <p class="specialist-card__name">Воякина Валерия Георгиевна</p>

                            <div class="specialist-card__bottom">
                                <span>Записаться на приём</span>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="specialists__item specialist-card">
                            <div class="specialist-card__top">
                                <figure class="specialist-card__image">
                                    <img
                                        src="./assets/images/sections/our-specialists/specialist.webp"
                                        alt=""
                                    />
                                </figure>

                                <span class="specialist-card__experience"> Стаж 7 лет </span>

                                <figure class="specialist-card__icon">
                                    <img src="./assets/images/icons/hat.svg" alt="" />
                                </figure>
                            </div>

                            <span class="specialist-card__job"> Психиатр </span>

                            <p class="specialist-card__name">Воякина Валерия Георгиевна</p>

                            <div class="specialist-card__bottom">
                                <span>Записаться на приём</span>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="specialists__item specialist-card">
                            <div class="specialist-card__top">
                                <figure class="specialist-card__image">
                                    <img
                                        src="./assets/images/sections/our-specialists/specialist.webp"
                                        alt=""
                                    />
                                </figure>

                                <span class="specialist-card__experience"> Стаж 7 лет </span>

                                <figure class="specialist-card__icon">
                                    <img src="./assets/images/icons/hat.svg" alt="" />
                                </figure>
                            </div>

                            <span class="specialist-card__job"> Психиатр </span>

                            <p class="specialist-card__name">Воякина Валерия Георгиевна</p>

                            <div class="specialist-card__bottom">
                                <span>Записаться на приём</span>

                                <figure class="arrow-icon">
                                    <svg
                                        width="20"
                                        height="20"
                                        viewBox="0 0 20 20"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            d="M7 3L14 10L7 17"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </figure>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="specialists__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
