<section class="partners">
    <div class="partners__container container">
        <div class="partners__head section-heading">
            <span class="partners__heading h h_h1"><span>Партнеры</span> клиники</span>
        </div>
        <div class="partners__body">
            <div class="partners__slider swiper">
                <ul class="partners__wrapper swiper-wrapper">
                    <li class="partners__slide partner-card swiper-slide">
                        <a href="#" class="partner-card__inner">
                            <div class="partner-card__head">
                                <span class="partner-card__heading h h_h2">СОГАЗ страховая группа</span>
                                <div class="partner-card__image-wrap">
                                    <img
                                        src="./assets/images/components/logos/1.webp"
                                        alt=""
                                        class="partner-card__image"
                                    />
                                </div>
                            </div>
                            <div class="partner-card__footer">
                                <div class="partner-card__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Подробнее</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="partners__slide partner-card swiper-slide">
                        <a href="#" class="partner-card__inner">
                            <div class="partner-card__head">
                                <span class="partner-card__heading h h_h2">СОГАЗ страховая группа</span>
                                <div class="partner-card__image-wrap">
                                    <img
                                        src="./assets/images/components/logos/1.webp"
                                        alt=""
                                        class="partner-card__image"
                                    />
                                </div>
                            </div>
                            <div class="partner-card__footer">
                                <div class="partner-card__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Подробнее</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="partners__slide partner-card swiper-slide">
                        <a href="#" class="partner-card__inner">
                            <div class="partner-card__head">
                                <span class="partner-card__heading h h_h2">СОГАЗ страховая группа</span>
                                <div class="partner-card__image-wrap">
                                    <img
                                        src="./assets/images/components/logos/1.webp"
                                        alt=""
                                        class="partner-card__image"
                                    />
                                </div>
                            </div>
                            <div class="partner-card__footer">
                                <div class="partner-card__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Подробнее</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="partners__slide partner-card swiper-slide">
                        <a href="#" class="partner-card__inner">
                            <div class="partner-card__head">
                                <span class="partner-card__heading h h_h2">СОГАЗ страховая группа</span>
                                <div class="partner-card__image-wrap">
                                    <img
                                        src="./assets/images/components/logos/1.webp"
                                        alt=""
                                        class="partner-card__image"
                                    />
                                </div>
                            </div>
                            <div class="partner-card__footer">
                                <div class="partner-card__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Подробнее</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="partners__slide partner-card swiper-slide">
                        <a href="#" class="partner-card__inner">
                            <div class="partner-card__head">
                                <span class="partner-card__heading h h_h2">СОГАЗ страховая группа</span>
                                <div class="partner-card__image-wrap">
                                    <img
                                        src="./assets/images/components/logos/1.webp"
                                        alt=""
                                        class="partner-card__image"
                                    />
                                </div>
                            </div>
                            <div class="partner-card__footer">
                                <div class="partner-card__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Подробнее</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="partners__slide partner-card swiper-slide">
                        <a href="#" class="partner-card__inner">
                            <div class="partner-card__head">
                                <span class="partner-card__heading h h_h2">СОГАЗ страховая группа</span>
                                <div class="partner-card__image-wrap">
                                    <img
                                        src="./assets/images/components/logos/1.webp"
                                        alt=""
                                        class="partner-card__image"
                                    />
                                </div>
                            </div>
                            <div class="partner-card__footer">
                                <div class="partner-card__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Подробнее</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="partners__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
