<section class="price-m">
    <div class="container">
        <div class="price-m__wrapper">
            <div class="price-m__left">
                <div class="price-m__title">
                    Стоимость лечения 
                    в нашей клинике
                </div>
                <div class="price-m__image">

                </div>
                <div class="price-m__price">
                    <div class="price-m__price-title">от 1500 ₽</div>
                    <div class="price-m__price-text">консультация врача</div>
                </div>
            </div>
            <div class="price-m__right">
                <div class="price-m__rating">
                    <div class="price-m__rating-stars">
                        
                    </div>
                    <div class="price-m__rating-text">

                    </div>
                    <div class="price-m__rating-number">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>