<section class="price-m">
    <div class="container">
        <nav class="breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Цены</span>
        </nav>
        <div class="price-m__wrapper">
            <div class="price-m__left">
                <div class="price-m__title h h_h1">
                    Стоимость лечения 
                    в нашей клинике
                </div>
                <div class="price-m__image">
                    <img src="./assets/images/sections/price-page/bg.png" alt="" class="price-m__image-desk">
                    <img src="./assets/images/sections/price-page/bgmob.png" alt="" class="price-m__image-mob">
                </div>
                <div class="price-m__price">
                    <figure class="price-m__price-poster">
                        <img src="./assets/images/bg/blue-light-bckdrop.webp" alt="" />
                    </figure>
                    <div class="price-m__price-title">от 1500 ₽</div>
                    <div class="price-m__price-text">консультация врача</div>
                </div>
            </div>
            <div class="price-m__right">
                <div class="intro__row-block-text">
                    <figure class="intro__row-block-info-poster">
                        <img src="./assets/images/bg/blue-bckdrop.webp" alt="" />
                    </figure>

                    <ul class="intro__row-block-stars">
                        <li>
                            <img src="./assets/images/icons/star-filled.svg" alt="" />
                        </li>
                        <li>
                            <img src="./assets/images/icons/star-filled.svg" alt="" />
                        </li>
                        <li>
                            <img src="./assets/images/icons/star-filled.svg" alt="" />
                        </li>
                    </ul>

                    <p class="intro__row-block-text-content">
                        В 90% всех обращений наши врачи улучшили состояния больного или вывели состояние
                        в продолжительную ремиссию.
                    </p>

                    <p class="intro__row-block-text-markup">9/10</p>
                </div>
                <a href="#" class="price-m__doctors">
                    <div class="price-m__doctors-title">Наши врачи</div>
                    <div class="price-m__doctors-text">Консультации и лечение у узких специалистов</div>
                    <div class="price-m__doctors-image">
                        <img src="./assets/images/sections/price-page/docotorsline.svg" alt="">
                    </div>
                    <div class="price-m__doctors-word">
                        <img src="./assets/images/sections/price-page/prodoc.svg" alt="">
                    </div>
                    <button type="button" class="detailed-spm__top-btn btn btn_primary">
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>