<section class="rate">
    <div class="container">
        <div class="rate__content">
            <h2 class="rate__title h h_h1">Стоимость услуг</h2>

            <ul data-accordion="" class="accordion__list">
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title"> Амбулаторные услуги </span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title">Лечение в стационаре</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title"> Кодирование</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title">Нарколог на дом</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            <article class="prices__consultation">
                <div class="prices__consultation-wrapper">
                    <figure class="prices__consultation-icon">
                        <img src="./assets/images/icons/star-blue.svg" alt="" />
                    </figure>

                    <span class="prices__consultation-title _mobile-only"
                        >Ознакомьтесь с комплексными программами лечения</span
                    >
                </div>

                <div class="prices__consultation-text">
                    <span class="prices__consultation-title _desktop-only"
                        >Ознакомьтесь с комплексными программами лечения
                    </span>

                    <p class="prices__consultation-description">
                        Эффективное лечение носит несколько этапов, медикаментозный и психологический
                    </p>
                </div>

                <a href="#" class="prices__consultation-button btn btn_primary">
                    <span class="btn__txt">Посмотреть цены</span>
                    <svg
                        width="28"
                        height="24"
                        viewBox="0 0 28 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 6L7 12L1 18"
                            stroke="white"
                            stroke-opacity="0.2"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M11 6L17 12L11 18"
                            stroke="white"
                            stroke-opacity="0.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 6L27 12L21 18"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </a>
            </article>
        </div>
    </div>
</section>
