<section class="price-services rate">
    <div class="container">
        <div class="price-services__wrapper">
            <div class="price-services__title h_h1">Стоимость услуг</div>
        </div>
        <nav class="price-services__tabs">
            <ul class="price-services__lists">
                <li class="price-services__item active" data-tab="1">Лечение алкоголизма</li>
                <li class="price-services__item" data-tab="2">Лечение наркомании</li>
                <li class="price-services__item" data-tab="3">Психиатрия и психотерапия</li>
                <li class="price-services__item" data-tab="4">Капельницы</li>
                <li class="price-services__item" data-tab="5">Диагностика и лабораторные исследования</li>
            </ul>
        </nav>
        <div class="price-services__block active" data-tab="1">
            <ul data-accordion="" class="accordion__list">
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title"> Амбулаторные услуги </span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title">Лечение в стационаре</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title"> Кодирование</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title">Нарколог на дом</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="price-services__block" data-tab="2">
            <ul data-accordion="" class="accordion__list">
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title"> Амбулаторные услуги </span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title">Лечение в стационаре</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title"> Кодирование</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="accordion__item">
                    <div class="accordion__item-heading" data-accordion-item>
                        <span class="accordion__item-title">Нарколог на дом</span>

                        <button class="accordion__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="accordion__item-content">
                        <ul class="rate__list">
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                            <li class="rate__item">
                                <p class="rate__item-title">Вывод из запоя амбулаторно</p>

                                <strong class="rate__item-price"> от 3500 ₽ </strong>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
