<section class="price-services">
    <div class="container">
        <div class="price-services__wrapper">
            <div class="price-services__title h_h1">Стоимость услуг</div>
        </div>
        <nav class="price-services__tabs">
            <ul class="price-services__lists">
                <li class="price-services__item active" data-tab="1">Лечение алкоголизма</li>
                <li class="price-services__item" data-tab="2">Лечение наркомании</li>
                <li class="price-services__item" data-tab="3">Психиатрия и психотерапия</li>
                <li class="price-services__item" data-tab="4">Капельницы</li>
                <li class="price-services__item" data-tab="5">Диагностика и лабораторные исследования</li>
            </ul>
        </nav>
        <div class="price-services__block active" data-tab="1">
            <div class="price-services__wrapper">
                <div class="price-services__btn">
                    <div class="price-services__btn-title h_h3">
                        Амбулаторные услуги
                    </div>
                    <div class="price-services__btn-arrow">
                        <svg  viewBox="0 0 15.5078 8.50308" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
                            <path id="Vector 1" d="M14.7539 0.753052L7.75391 7.75305L0.753906 0.753052" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round"/>
                        </svg>
                        
                        
                    </div>
                </div>
                <!-- btn -->
                <div class="price-services__box">
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-services__wrapper">
                <div class="price-services__btn">
                    <div class="price-services__btn-title h_h3">
                        Лечение в стационаре
                    </div>
                    <div class="price-services__btn-arrow">
                        <svg  viewBox="0 0 15.5078 8.50308" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
                            <path id="Vector 1" d="M14.7539 0.753052L7.75391 7.75305L0.753906 0.753052" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round"/>
                        </svg>
                        
                        
                    </div>
                </div>
                <!-- btn -->
                <div class="price-services__box">
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-services__wrapper">
                <div class="price-services__btn">
                    <div class="price-services__btn-title h_h3">
                        Кодирование
                    </div>
                    <div class="price-services__btn-arrow">
                        <svg  viewBox="0 0 15.5078 8.50308" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
                            <path id="Vector 1" d="M14.7539 0.753052L7.75391 7.75305L0.753906 0.753052" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round"/>
                        </svg>
                        
                        
                    </div>
                </div>
                <!-- btn -->
                <div class="price-services__box">
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-services__wrapper">
                <div class="price-services__btn">
                    <div class="price-services__btn-title h_h3">
                        Нарколог на дом
                    </div>
                    <div class="price-services__btn-arrow">
                        <svg  viewBox="0 0 15.5078 8.50308" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
                            <path id="Vector 1" d="M14.7539 0.753052L7.75391 7.75305L0.753906 0.753052" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round"/>
                        </svg>
                        
                        
                    </div>
                </div>
                <!-- btn -->
                <div class="price-services__box">
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="price-services__block " data-tab="2">
            <div class="price-services__wrapper">
                <div class="price-services__btn">
                    <div class="price-services__btn-title h_h3">
                        Амбулаторные услуги
                    </div>
                    <div class="price-services__btn-arrow">
                        <svg  viewBox="0 0 15.5078 8.50308" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
                            <path id="Vector 1" d="M14.7539 0.753052L7.75391 7.75305L0.753906 0.753052" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round"/>
                        </svg>
                        
                        
                    </div>
                </div>
                <!-- btn -->
                <div class="price-services__box">
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-services__wrapper">
                <div class="price-services__btn">
                    <div class="price-services__btn-title h_h3">
                        Лечение в стационаре
                    </div>
                    <div class="price-services__btn-arrow">
                        <svg  viewBox="0 0 15.5078 8.50308" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
                            <path id="Vector 1" d="M14.7539 0.753052L7.75391 7.75305L0.753906 0.753052" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round"/>
                        </svg>
                        
                        
                    </div>
                </div>
                <!-- btn -->
                <div class="price-services__box">
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-services__wrapper">
                <div class="price-services__btn">
                    <div class="price-services__btn-title h_h3">
                        Кодирование
                    </div>
                    <div class="price-services__btn-arrow">
                        <svg  viewBox="0 0 15.5078 8.50308" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
                            <path id="Vector 1" d="M14.7539 0.753052L7.75391 7.75305L0.753906 0.753052" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round"/>
                        </svg>
                        
                        
                    </div>
                </div>
                <!-- btn -->
                <div class="price-services__box">
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-services__wrapper">
                <div class="price-services__btn">
                    <div class="price-services__btn-title h_h3">
                        Нарколог на дом
                    </div>
                    <div class="price-services__btn-arrow">
                        <svg  viewBox="0 0 15.5078 8.50308" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
                            <path id="Vector 1" d="M14.7539 0.753052L7.75391 7.75305L0.753906 0.753052" stroke="#FFFFFF" stroke-opacity="1.000000" stroke-width="1.500000" stroke-linejoin="round" stroke-linecap="round"/>
                        </svg>
                        
                        
                    </div>
                </div>
                <!-- btn -->
                <div class="price-services__box">
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                    <div class="price-services__box-inner">
                        <div class="price-services__box-title">
                            Вывод из запоя амбулаторно 
                        </div>
                        <div class="price-services__box-price">
                            от 3500 ₽
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="price-services__block " data-tab="3">

        </div>
        <div class="price-services__block " data-tab="4">

        </div>
        <div class="price-services__block " data-tab="5">

        </div>
    </div>
</section>