<section class="questions">
    <div class="container">
        <div class="questions__content">
            <aside class="questions__request">
                <h2 class="questions__title h h_h1">Ответы  на вопросы</h2>

                <p class="questions__description">Собрали здесь самые популярные вопросы и ответы на них</p>

                <button type="button" class="questions__button btn btn_primary">
                    <span class="btn__txt">Оставить заявку</span>
                    <svg
                        width="28"
                        height="24"
                        viewBox="0 0 28 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 6L7 12L1 18"
                            stroke="white"
                            stroke-opacity="0.2"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M11 6L17 12L11 18"
                            stroke="white"
                            stroke-opacity="0.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 6L27 12L21 18"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </aside>

            <ul data-accordion="" class="questions__list">
                <li class="questions__item">
                    <div class="questions__item-heading" data-accordion-item>
                        <span class="questions__item-title">
                            Может ли родственник получить информацию о диагнозе и лечении пациента?
                        </span>

                        <button class="questions__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="questions__item-content">
                        <p>
                            Главная цель первичной консультации – сбор информации о пациенте. Для этого врач
                            знакомится с его жалобами, историей жизни и болезни, уточняет симптомы психических
                            расстройств, предварительно оценивает состояние нервной системы.
                        </p>

                        <p>
                            По окончании первичной консультации пациент получает заключение врача. В нем
                            указывается предварительный диагноз, программа лечения и дополнительные
                            рекомендации. В среднем, продолжительность первичной консультации в клинике
                            доктора Шурова составляет от 40 до 60 минут.
                        </p>
                    </div>
                </li>
                <li class="questions__item">
                    <div class="questions__item-heading" data-accordion-item>
                        <span class="questions__item-title">Что включает первичная консультация?</span>

                        <button class="questions__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="questions__item-content">
                        <p>
                            Главная цель первичной консультации – сбор информации о пациенте. Для этого врач
                            знакомится с его жалобами, историей жизни и болезни, уточняет симптомы психических
                            расстройств, предварительно оценивает состояние нервной системы.
                        </p>

                        <p>
                            По окончании первичной консультации пациент получает заключение врача. В нем
                            указывается предварительный диагноз, программа лечения и дополнительные
                            рекомендации. В среднем, продолжительность первичной консультации в клинике
                            доктора Шурова составляет от 40 до 60 минут.
                        </p>
                    </div>
                </li>
                <li class="questions__item">
                    <div class="questions__item-heading" data-accordion-item>
                        <span class="questions__item-title">Какое оборудование используется в вашей клинике для диагностики и лечения психических расстройств у пациентов разного возраста?</span>

                        <button class="questions__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="questions__item-content">
                        <p>
                            Главная цель первичной консультации – сбор информации о пациенте. Для этого врач
                            знакомится с его жалобами, историей жизни и болезни, уточняет симптомы психических
                            расстройств, предварительно оценивает состояние нервной системы.
                        </p>

                        <p>
                            По окончании первичной консультации пациент получает заключение врача. В нем
                            указывается предварительный диагноз, программа лечения и дополнительные
                            рекомендации. В среднем, продолжительность первичной консультации в клинике
                            доктора Шурова составляет от 40 до 60 минут.
                        </p>
                    </div>
                </li>
                <li class="questions__item">
                    <div class="questions__item-heading" data-accordion-item>
                        <span class="questions__item-title">Может ли пациент пройти обследование (например, нейрофизиологическое) без консультации врача-психиатра?</span>

                        <button class="questions__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="questions__item-content">
                        <p>
                            Главная цель первичной консультации – сбор информации о пациенте. Для этого врач
                            знакомится с его жалобами, историей жизни и болезни, уточняет симптомы психических
                            расстройств, предварительно оценивает состояние нервной системы.
                        </p>

                        <p>
                            По окончании первичной консультации пациент получает заключение врача. В нем
                            указывается предварительный диагноз, программа лечения и дополнительные
                            рекомендации. В среднем, продолжительность первичной консультации в клинике
                            доктора Шурова составляет от 40 до 60 минут.
                        </p>
                    </div>
                </li>
                <li class="questions__item">
                    <div class="questions__item-heading" data-accordion-item>
                        <span class="questions__item-title">Сколько примерно длится лечение и наблюдение пациентов?</span>

                        <button class="questions__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="questions__item-content">
                        <p>
                            Главная цель первичной консультации – сбор информации о пациенте. Для этого врач
                            знакомится с его жалобами, историей жизни и болезни, уточняет симптомы психических
                            расстройств, предварительно оценивает состояние нервной системы.
                        </p>

                        <p>
                            По окончании первичной консультации пациент получает заключение врача. В нем
                            указывается предварительный диагноз, программа лечения и дополнительные
                            рекомендации. В среднем, продолжительность первичной консультации в клинике
                            доктора Шурова составляет от 40 до 60 минут.
                        </p>
                    </div>
                </li>
                <li class="questions__item">
                    <div class="questions__item-heading" data-accordion-item>
                        <span class="questions__item-title">Гарантирует ли ваша клиника анонимность лечения?</span>

                        <button class="questions__item-button">
                            <img src="./assets/images/icons/arrow-down.svg" alt="" />
                        </button>
                    </div>

                    <div class="questions__item-content">
                        <p>
                            Главная цель первичной консультации – сбор информации о пациенте. Для этого врач
                            знакомится с его жалобами, историей жизни и болезни, уточняет симптомы психических
                            расстройств, предварительно оценивает состояние нервной системы.
                        </p>

                        <p>
                            По окончании первичной консультации пациент получает заключение врача. В нем
                            указывается предварительный диагноз, программа лечения и дополнительные
                            рекомендации. В среднем, продолжительность первичной консультации в клинике
                            доктора Шурова составляет от 40 до 60 минут.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
