<section class="request">
    <div class="container">
        <div class="request__content">
            <div class="request__info">
                <span class="request__subtitle"> комплексный подход </span>

                <div class="request__info-content">
                    <figure class="request__info-image">
                        <img src="./assets/images/sections/request/doctor.webp" alt="" />
                    </figure>

                    <div class="request__info-text">
                        <div class="request__info-heading">
                            <h2 class="request__title">Получите бесплатную консультацию!</h2>

                            <figure class="request__icon">
                                <img src="./assets/images/icons/star-blue.svg" alt="" />
                            </figure>
                        </div>

                        <button
                            data-modal="#success-modal"
                            type="button"
                            class="request__button btn btn_primary"
                        >
                            <span class="btn__txt">Записаться на консультацию</span>
                            <svg
                                width="28"
                                height="24"
                                viewBox="0 0 28 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 6L7 12L1 18"
                                    stroke="white"
                                    stroke-opacity="0.2"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M11 6L17 12L11 18"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M21 6L27 12L21 18"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>

                <a href="tel:7928107426" class="request__link">+ 7 928 107 42 16</a>
            </div>

            <div class="request__features">
                <span class="request__features-title"> Оставьте заявку! </span>

                <p class="request__features-description">
                    Расскажем все об услуге и поможем подобрать оптимальный вариант лечения.
                </p>

                <ul class="request__features-list">
                    <li class="request__features-item">
                        <figure class="request__features-icon">
                            <img src="./assets/images/sections/request/icon-1.svg" alt="" />
                        </figure>

                        <strong class="request__features-item-title"> 24/7 </strong>

                        <span class="request__features-item-subtitle"> Круглосуточно </span>
                    </li>
                    <li class="request__features-item">
                        <figure class="request__features-icon">
                            <img src="./assets/images/sections/request/icon-2.svg" alt="" />
                        </figure>

                        <strong class="request__features-item-title"> 100% </strong>

                        <span class="request__features-item-subtitle"> Анонимно </span>
                    </li>
                    <li class="request__features-item">
                        <figure class="request__features-icon">
                            <img src="./assets/images/sections/request/icon-3.svg" alt="" />
                        </figure>

                        <strong class="request__features-item-title"> 0 ₽ </strong>

                        <span class="request__features-item-subtitle"> Бесплатно </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
