<section class="reviews-list">
    <div class="container">
        <nav class="about-hero__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Отзывы</span>
        </nav>
        <div class="reviews-list__inner">
            <div class="reviews-list__main">
                <div class="h h_h1">Отзывы</div>
                <div class="reviews-list__wrapper">
                    <ul class="reviews-list__content">
                        <li class="reviews__card reviews__card_large">
                            <div class="reviews__card-heading">
                                <span class="reviews__card-author _desktop-only"> Владимир </span>
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>
                                <time class="reviews__card-date _mobile-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author _mobile-only"> Владимир </span>

                            <span class="reviews__card-subtitle"> Отзыв о центре </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <button
                                data-modal="#reviews-modal"
                                type="button"
                                class="reviews__card-button link"
                            >
                                <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                            </button>

                            <div class="reviews__card-bottom">
                                <time class="reviews__card-date _desktop-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </li>
                        <li class="reviews__card reviews__card_large">
                            <div class="reviews__card-heading">
                                <span class="reviews__card-author _desktop-only"> Владимир </span>
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>
                                <time class="reviews__card-date _mobile-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author _mobile-only"> Владимир </span>

                            <span class="reviews__card-subtitle"> Отзыв о центре </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <button
                                data-modal="#reviews-modal"
                                type="button"
                                class="reviews__card-button link"
                            >
                                <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                            </button>

                            <div class="reviews__card-bottom">
                                <time class="reviews__card-date _desktop-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </li>
                        <li class="reviews__card reviews__card_large">
                            <div class="reviews__card-heading">
                                <span class="reviews__card-author _desktop-only"> Владимир </span>
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>
                                <time class="reviews__card-date _mobile-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author _mobile-only"> Владимир </span>

                            <span class="reviews__card-subtitle"> Отзыв о центре </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <button
                                data-modal="#reviews-modal"
                                type="button"
                                class="reviews__card-button link"
                            >
                                <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                            </button>

                            <div class="reviews__card-bottom">
                                <time class="reviews__card-date _desktop-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </li>
                        <li class="reviews__card reviews__card_large">
                            <div class="reviews__card-heading">
                                <span class="reviews__card-author _desktop-only"> Владимир </span>
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>
                                <time class="reviews__card-date _mobile-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author _mobile-only"> Владимир </span>

                            <span class="reviews__card-subtitle"> Отзыв о центре </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <button
                                data-modal="#reviews-modal"
                                type="button"
                                class="reviews__card-button link"
                            >
                                <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                            </button>

                            <div class="reviews__card-bottom">
                                <time class="reviews__card-date _desktop-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </li>
                        <li class="reviews__card reviews__card_large">
                            <div class="reviews__card-heading">
                                <span class="reviews__card-author _desktop-only"> Владимир </span>
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>
                                <time class="reviews__card-date _mobile-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author _mobile-only"> Владимир </span>

                            <span class="reviews__card-subtitle"> Отзыв о центре </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <button
                                data-modal="#reviews-modal"
                                type="button"
                                class="reviews__card-button link"
                            >
                                <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                            </button>

                            <div class="reviews__card-bottom">
                                <time class="reviews__card-date _desktop-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </li>
                        <li class="reviews__card reviews__card_large">
                            <div class="reviews__card-heading">
                                <span class="reviews__card-author _desktop-only"> Владимир </span>
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>
                                <time class="reviews__card-date _mobile-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author _mobile-only"> Владимир </span>

                            <span class="reviews__card-subtitle"> Отзыв о центре </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <button
                                data-modal="#reviews-modal"
                                type="button"
                                class="reviews__card-button link"
                            >
                                <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                            </button>

                            <div class="reviews__card-bottom">
                                <time class="reviews__card-date _desktop-only" datetime="11 января 2024">
                                    11 января 2024
                                </time>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </li>
                    </ul>
                    <div class="pagination">
                        <a href="" class="pagination__button">
                            <img src="./assets/images/icons/arrow-left.svg" alt="" />
                        </a>

                        <ul class="pagination__list">
                            <li class="pagination__item --active">
                                <a href="#"> 1 </a>
                            </li>
                            <li class="pagination__item">
                                <a href="#"> 2 </a>
                            </li>
                            <li class="pagination__item">
                                <a href="#"> 3 </a>
                            </li>
                        </ul>

                        <a href="" class="pagination__button --active">
                            <img src="./assets/images/icons/arrow-right.svg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
            <aside class="article__info">
                <div class="documents__request">
                    <span class="documents__request-subtitle"> комплексный подход </span>

                    <figure class="documents__request-specialist">
                        <img src="./assets/images/sections/documents/specialist.webp" alt="" />
                    </figure>

                    <p class="documents__request-title h h_h2">Получите бесплатную консультацию!</p>

                    <button type="button" class="documents__request-button btn btn_primary">
                        <span class="btn__txt">Записаться на консультацию</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>

                    <a href="tel:79281074216" class="documents__request-link"> + 7 928 107 42 16 </a>
                </div>


                <div class="article__licenses">
                    <div class="swiper article-licenses-swiper">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <div data-modal="#certificate-modal" class="licenses__card --v2">
                                    <figure class="licenses__card-image">
                                        <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                    </figure>

                                    <span class="licenses__card-title"> Медицинская лицензия по психиатрии-наркологии </span>

                                    <button  class="licenses__card-button">
                                        <img src="./assets/images/icons/glass.svg" alt="" />
                                    </button>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div data-modal="#certificate-modal" class="licenses__card --v2">
                                    <figure class="licenses__card-image">
                                        <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                    </figure>

                                    <span class="licenses__card-title"> Медицинская лицензия по психиатрии-наркологии </span>

                                    <button class="licenses__card-button">
                                        <img src="./assets/images/icons/glass.svg" alt="" />
                                    </button>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div data-modal="#certificate-modal" class="licenses__card --v2">
                                    <figure class="licenses__card-image">
                                        <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                    </figure>

                                    <span class="licenses__card-title"> Медицинская лицензия по психиатрии-наркологии </span>

                                    <button class="licenses__card-button">
                                        <img src="./assets/images/icons/glass.svg" alt="" />
                                    </button>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <div data-modal="#certificate-modal" class="licenses__card --v2">
                                    <figure class="licenses__card-image">
                                        <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                    </figure>

                                    <span class="licenses__card-title"> Медицинская лицензия по психиатрии-наркологии </span>

                                    <button class="licenses__card-button">
                                        <img src="./assets/images/icons/glass.svg" alt="" />
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="navigation-buttons">
                        <button type="button" class="swiper-button-prev">
                            <img src="./assets/images/icons/arrow-left.svg" alt="" />
                        </button>
                        <button type="button" class="swiper-button-next">
                            <img src="./assets/images/icons/arrow-right.svg" alt="" />
                        </button>
                    </div>

                    <div class="licenses__pagination slider-pagination">
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
