<section class="reviews-list">
    <div class="container">
        <nav class="about-hero__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Отзывы</span>
        </nav>
        <div class="reviews-list__inner">
            <div class="reviews-list__main">
                <div class="h h_h1">Отзывы</div>
                <div class="reviews-list__wrapper">
                    <ul class="reviews-list__content">
                        <li class="reviews-list__item review-item"></li>
                    </ul>
                    <div class="list-pagination">
                        <button type="button" class="swiper-button-prev swiper-button-disabled">
                            <img src="./assets/images/icons/arrow-left.svg" alt="" />
                        </button>
                        <ul class="list-pagination__wrapper">
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                        <button type="button" class="swiper-button-next">
                            <img src="./assets/images/icons/arrow-right.svg" alt="" />
                        </button>
                    </div>
                </div>
            </div>
            <div class="reviews-list__aside">
                <aside class="documents__request">
                    <span class="documents__request-subtitle"> комплексный подход </span>
                    <figure class="documents__request-specialist">
                        <img src="./assets/images/sections/documents/specialist.webp" alt="" />
                    </figure>
                    <p class="documents__request-title h h_h2">Получите бесплатную консультацию!</p>
                    <button type="button" class="documents__request-button btn btn_primary">
                        <span class="btn__txt">Записаться на консультацию</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </svg>
                    </button>
                    <a href="tel:79281074216" class="documents__request-link"> + 7 928 107 42 16 </a>
                </aside>
                <aside class="review-license swiper">
                    <div class="review-license__wrapper swiper-wrapper">
                        <div class="review-license__slide swiper-slide">
                            <div data-modal="#certificate-modal" class="review-license__card">
                                <figure class="review-license__card-image">
                                    <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                </figure>
                                <span class="review-license__card-title">
                                    Медицинская лицензия по психиатрии-наркологии
                                </span>
                                <button class="review-license__card-button">
                                    <img src="./assets/images/icons/glass.svg" alt="" />
                                </button>
                            </div>
                        </div>
                        <div class="review-license__slide swiper-slide">
                            <div data-modal="#certificate-modal" class="review-license__card">
                                <figure class="review-license__card-image">
                                    <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                </figure>
                                <span class="review-license__card-title">
                                    Медицинская лицензия по психиатрии-наркологии
                                </span>
                                <button class="review-license__card-button">
                                    <img src="./assets/images/icons/glass.svg" alt="" />
                                </button>
                            </div>
                        </div>
                        <div class="review-license__slide swiper-slide">
                            <div data-modal="#certificate-modal" class="review-license__card">
                                <figure class="review-license__card-image">
                                    <img src="./assets/images/sections/licenses/license-image.webp" alt="" />
                                </figure>
                                <span class="review-license__card-title">
                                    Медицинская лицензия по психиатрии-наркологии
                                </span>
                                <button class="review-license__card-button">
                                    <img src="./assets/images/icons/glass.svg" alt="" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-buttons review-license__buttons _desktop-only">
                        <button type="button" class="swiper-button-prev">
                            <img src="./assets/images/icons/arrow-left.svg" alt="" />
                        </button>
                        <button type="button" class="swiper-button-next">
                            <img src="./assets/images/icons/arrow-right.svg" alt="" />
                        </button>
                    </div>
                    <div class="licenses__pagination slider-pagination review-license__pagination">
                        <div class="swiper-pagination"></div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
