<section class="reviews">
    <div class="container">
        <div class="reviews__content">
            <div class="reviews__heading section-heading">
                <h2 class="reviews__heading-title h h_h1">Отзывы</h2>

                <div class="reviews__navigation-buttons navigation-buttons">
                    <button type="button" class="swiper-button-prev">
                        <img src="./assets/images/icons/arrow-left.svg" alt="" />
                    </button>
                    <button type="button" class="swiper-button-next">
                        <img src="./assets/images/icons/arrow-right.svg" alt="" />
                    </button>
                </div>
            </div>

            <div class="swiper reviews-swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="reviews__card">
                            <div class="reviews__card-heading">
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>

                                <time class="reviews__card-date" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author"> Владимир </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <div class="reviews__card-bottom">
                                <button data-modal="#reviews-modal" type="button" class="reviews__card-button link">
                                    <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                                </button>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="reviews__card">
                            <div class="reviews__card-heading">
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>

                                <time class="reviews__card-date" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author"> Владимир </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <div class="reviews__card-bottom">
                                <button type="button" class="reviews__card-button link">
                                    <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                                </button>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="reviews__card">
                            <div class="reviews__card-heading">
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>

                                <time class="reviews__card-date" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author"> Владимир </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <div class="reviews__card-bottom">
                                <button type="button" class="reviews__card-button link">
                                    <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                                </button>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="reviews__card">
                            <div class="reviews__card-heading">
                                <ul class="reviews__card-marks">
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                                    </li>
                                    <li class="reviews__card-mark">
                                        <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                                    </li>
                                </ul>

                                <time class="reviews__card-date" datetime="11 января 2024">
                                    11 января 2024
                                </time>
                            </div>

                            <span class="reviews__card-author"> Владимир </span>

                            <p class="reviews__card-description">
                                Исследование волос/ногтей выполняют для подтверждения хронического отравления
                                опиатами. Его проводят по запросу суда или следственных органов, а также с
                                целью исключения однократного приема запрещенных веществ. Факт долгосрочного
                                употребления не менее важен для определения мероприятий по лечению и
                                реабилитации Исследование волос/ногтей выполняют для подтверждения
                                хронического отравления опиатами. Его проводят по запросу суда или
                                следственных органов, а также с целью исключения однократного приема
                                запрещенных веществ.
                            </p>

                            <div class="reviews__card-bottom">
                                <button type="button" class="reviews__card-button link">
                                    <span class="link__txt txt16 txt16_caps">Читать весь отзыв</span>
                                </button>

                                <figure class="reviews__card-company">
                                    <img src="./assets/images/icons/company.svg" alt="" />
                                </figure>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="reviews__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
