<section class="sales-list">
    <div class="container">
        <nav class="about-hero__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Скидки</span>
        </nav>
        <div class="sales-list__inner">
            <h1 class="sales-list__title h h_h1">Скидки</h1>
            <ul class="sales-list__wrapper">
                <li class="sales-list__item">
                    <include src="../ui/_sale-card.html"></include>
                </li>
                <li class="sales-list__item">
                    <include src="../ui/_sale-card.html"></include>
                </li>
                <li class="sales-list__item">
                    <include src="../ui/_sale-card.html"></include>
                </li>
                <li class="sales-list__item">
                    <include src="../ui/_sale-card.html"></include>
                </li>
                <li class="sales-list__item">
                    <include src="../ui/_sale-card.html"></include>
                </li>
                <li class="sales-list__item">
                    <include src="../ui/_sale-card.html"></include>
                </li>
            </ul>
        </div>
    </div>
</section>
