<section class="sale-detail">
    <div class="container">
        <nav class="about-hero__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <a href="#" class="breadcrumbs__txt">Скидки</a>
            <span class="breadcrumbs__txt">Стационарное лечение со скидкой 15%</span>
        </nav>
        <div class="sale-detail__inner">
            <h1 class="sale-detail__title h h_h1">Стационарное лечение со скидкой 15%</h1>
            <div class="sale-detail__wrapper">
                <div class="sale-detail__info">
                    <div class="sale-detail__description txt18">
                        <p>
                            Воспользуйтесь скидкой на возможность получить комфортное размещение в 1- местной
                            палате, где вы будете окружены заботой опытного персонала и получите
                            высококачественное лечение всего за 8000 рублей в сутки, вместо 12 000 рублей.
                        </p>
                    </div>
                    <ul class="sale-detail__list txt18">
                        <li>Прикрепленный психиатр</li>
                        <li>3х разовое питание</li>
                        <li>Наблюдение</li>
                        <li>Дежурные врачи</li>
                        <li>Медикаменты</li>
                        <li>Душ и туалет</li>
                    </ul>
                    <div class="sale-detail__ps txt18">*Подробности акции уточняйте у нашего менеджера</div>
                    <div class="sale-detail__btn _desktop-only">
                        <button type="button" class="btn btn_primary">
                            <span class="btn__txt">Получить скидку</span>
                            <svg
                                width="28"
                                height="24"
                                viewBox="0 0 28 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 6L7 12L1 18"
                                    stroke="white"
                                    stroke-opacity="0.2"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M11 6L17 12L11 18"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M21 6L27 12L21 18"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="sale-detail__right">
                    <div class="sale-detail__slider swiper">
                        <div class="sale-detail__slider-wrapper swiper-wrapper">
                            <div class="sale-detail__slider-slide swiper-slide">
                                <div class="sale-detail__image">
                                    <img
                                        src="../assets/images/sections/sale-detail/sale-detail-img.jpg"
                                        alt=""
                                        class="_desktop-only"
                                    />
                                    <img
                                        src="../assets/images/sections/sale-detail/sale-detail-img-m.jpg"
                                        alt=""
                                        class="_mobile-only"
                                    />
                                </div>
                            </div>
                            <div class="sale-detail__slider-slide swiper-slide">
                                <div class="sale-detail__image">
                                    <img
                                        src="../assets/images/sections/sale-detail/sale-detail-img.jpg"
                                        alt=""
                                        class="_desktop-only"
                                    />
                                    <img
                                        src="../assets/images/sections/sale-detail/sale-detail-img-m.jpg"
                                        alt=""
                                        class="_mobile-only"
                                    />
                                </div>
                            </div>
                            <div class="sale-detail__slider-slide swiper-slide">
                                <div class="sale-detail__image">
                                    <img
                                        src="../assets/images/sections/sale-detail/sale-detail-img.jpg"
                                        alt=""
                                        class="_desktop-only"
                                    />
                                    <img
                                        src="../assets/images/sections/sale-detail/sale-detail-img-m.jpg"
                                        alt=""
                                        class="_mobile-only"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="sale-detail__slider-pagination slider-pagination">
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="sale-detail__price">
                            <span>8 000 <strong>₽</strong></span> / сутки
                        </div>
                        <div class="sale-detail__slider-buttons navigation-buttons">
                            <button type="button" class="swiper-button-prev" disabled="">
                                <img src="./assets/images/icons/arrow-left.svg" alt="" />
                            </button>
                            <button type="button" class="swiper-button-next">
                                <img src="./assets/images/icons/arrow-right.svg" alt="" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sale-detail__btn _mobile-only">
                    <button type="button" class="btn btn_primary">
                        <span class="btn__txt">Получить скидку</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
