<section class="seo">
    <div class="container">
        <div class="seo__content">
            <div class="seo__text">
                <h2 class="seo__title h h_h1">С какими пациентами работает наша клиника?</h2>

                <p class="seo__description">
                    Мы работаем с любыми направлениями психиатрических и психических заболеваний , чаще всего
                    к нам идут со следующими жалобами и симптомами. Изучите, вдруг это поможет Вам
                    сориентироваться с проблемой.
                </p>

                <ul class="seo__list _desktop-only">
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">
                            Деменция и снижение когнитивных способностей у пожилых – бабушка перестала
                            соблюдать нормы гигиены, всегда ворчит или подозревает родных в воровстве
                        </p>
                    </li>
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">
                            Аутизм и расстройства этого спектра – особенные детишки нуждаются в правильном
                            лечении, а их мамы и папы в психологической поддержке
                        </p>
                    </li>
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">
                            Наркомания, алкоголизм, игромания – мы выводим из запоя, кодируем, проводим курс
                            реабилитации и помогаем жить дальше
                        </p>
                    </li>
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">
                            Депрессия и депрессивные расстройства, упадническим настроением
                        </p>
                    </li>
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">
                            Расстройства пищевого поведения (чаще всего у подростков) – булимия, анорексия,
                            непроизвольная рвота после приема пищи, зацикленность на калориях и похудении
                        </p>
                    </li>
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">
                            Хронический стресс, когда люди теряют сон, аппетит, жизненные силы и интерес к
                            окружающему миру, потому что долгое время находятся в некомфортных, раздражающих
                            условиях
                        </p>
                    </li>
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">Повышенная тревожностью, фобии и страхи</p>
                    </li>
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">
                            Острые симптомы психических заболеваний – бред, галлюцинации, приступы агрессии,
                            истерики
                        </p>
                    </li>
                    <li class="seo__item">
                        <figure class="seo__item-marker">
                            <img src="./assets/images/icons/star-red.svg" alt="" />
                        </figure>

                        <p class="seo__item-text">
                            Проявления расстройств психики – нервным тиком (бывает голосовым), паническими
                            атаками, навязчивыми действиями и повторами слов
                        </p>
                    </li>
                </ul>

                <div data-showmore="" class="_mobile-only">
                    <div class="seo__text" data-showmore-content="50" style="height: 60rem; overflow: hidden">
                        <ul class="seo__list">
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">
                                    Деменция и снижение когнитивных способностей у пожилых – бабушка перестала
                                    соблюдать нормы гигиены, всегда ворчит или подозревает родных в воровстве
                                </p>
                            </li>
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">
                                    Аутизм и расстройства этого спектра – особенные детишки нуждаются в
                                    правильном лечении, а их мамы и папы в психологической поддержке
                                </p>
                            </li>
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">
                                    Наркомания, алкоголизм, игромания – мы выводим из запоя, кодируем,
                                    проводим курс реабилитации и помогаем жить дальше
                                </p>
                            </li>
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">
                                    Депрессия и депрессивные расстройства, упадническим настроением
                                </p>
                            </li>
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">
                                    Расстройства пищевого поведения (чаще всего у подростков) – булимия,
                                    анорексия, непроизвольная рвота после приема пищи, зацикленность на
                                    калориях и похудении
                                </p>
                            </li>
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">
                                    Хронический стресс, когда люди теряют сон, аппетит, жизненные силы и
                                    интерес к окружающему миру, потому что долгое время находятся в
                                    некомфортных, раздражающих условиях
                                </p>
                            </li>
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">Повышенная тревожностью, фобии и страхи</p>
                            </li>
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">
                                    Острые симптомы психических заболеваний – бред, галлюцинации, приступы
                                    агрессии, истерики
                                </p>
                            </li>
                            <li class="seo__item">
                                <figure class="seo__item-marker">
                                    <img src="./assets/images/icons/star-red.svg" alt="" />
                                </figure>

                                <p class="seo__item-text">
                                    Проявления расстройств психики – нервным тиком (бывает голосовым),
                                    паническими атаками, навязчивыми действиями и повторами слов
                                </p>
                            </li>
                        </ul>
                    </div>
                    <button data-showmore-button="" type="button" class="showmore-button link _mobile-only">
                        <span>Читать больше</span>
                        <span>Скрыть</span>
                    </button>
                </div>
            </div>

            <aside class="seo__sidebar">
                <figure class="seo__sidebar-image">
                    <img src="./assets/images/sections/seo/sidebar-image.webp" alt="" />
                </figure>

                <div class="seo__sidebar-info">
                    <figure class="seo__sidebar-info-icon">
                        <img src="./assets/images/icons/star-blue.svg" alt="" />
                    </figure>

                    <div class="seo__sidebar-info-text">
                        <span class="seo__sidebar-info-title"> Важно </span>

                        <p class="seo__sidebar-info-description">
                            Особенность психиатрической помощи – пациент и его близкие должны полностью
                            доверять врачу, только тогда лечение будет продуктивным!
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
