<section class="services-hero">
    <div class="services-hero__container container">
        <nav class="services-hero__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Услуги</span>
        </nav>
        <div class="services-hero__body">
            <div class="services-hero__content">
                <div class="services-hero__content-wrap">
                    <div class="services-hero__consultation consultation-services-hero">
                        <span class="consultation-services-hero__heading h h_h2"
                            >Получите бесплатную консультацию!</span
                        >
                        <button type="button" class="consultation-services-hero__btn btn btn_primary">
                            <span class="btn__txt">Записаться</span>
                            <svg
                                width="28"
                                height="24"
                                viewBox="0 0 28 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 6L7 12L1 18"
                                    stroke="white"
                                    stroke-opacity="0.2"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M11 6L17 12L11 18"
                                    stroke="white"
                                    stroke-opacity="0.5"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M21 6L27 12L21 18"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </button>
                    </div>
                    <div class="services-hero__text-wrap">
                        <div class="services-hero__label label txt16 txt16_caps">
                            Научный подход в лечении
                        </div>
                        <span class="services-hero__heading h h_h1">Услуги</span>
                        <p class="services-hero__text">
                            Психиатрическая клиника «МЦ Альма» гарантирует безопасное и эффективное лечение.
                            Мы работаем с любыми направлениями психиатрических и психических заболеваний.
                        </p>
                    </div>
                </div>
                <div class="services-hero__image-wrap">
                    <img
                        src="./assets/images/sections/hero/services.webp"
                        alt=""
                        class="services-hero__image"
                    />
                </div>
            </div>
            <div class="services-hero__aside">
                <div class="services-hero__statistics statistics-card">
                    <div class="statistics-card__icons">
                        <div class="statistics-card__icon-wrap">
                            <img
                                src="./assets/images/icons/star-filled.svg"
                                alt=""
                                class="statistics-card__icon"
                            />
                        </div>
                        <div class="statistics-card__icon-wrap">
                            <img
                                src="./assets/images/icons/star-filled.svg"
                                alt=""
                                class="statistics-card__icon"
                            />
                        </div>
                        <div class="statistics-card__icon-wrap">
                            <img
                                src="./assets/images/icons/star-filled.svg"
                                alt=""
                                class="statistics-card__icon"
                            />
                        </div>
                    </div>
                    <p class="statistics-card__text">
                        В 90% всех обращений наши врачи улучшили состояния больного или вывели состояние
                        в продолжительную ремиссию.
                    </p>
                    <span class="statistics-card__nums h h_h1">9/10</span>
                </div>
                <a href="#" class="services-hero__doctors doctors-card">
                    <div class="doctors-card__group">
                        <div class="doctors-card__images doctors-images">
                            <div class="doctors-images__image-wrap">
                                <img
                                    src="./assets/images/components/doctors/1.webp"
                                    alt=""
                                    class="doctors-images__image"
                                />
                            </div>
                            <div class="doctors-images__image-wrap">
                                <img
                                    src="./assets/images/components/doctors/2.webp"
                                    alt=""
                                    class="doctors-images__image"
                                />
                            </div>
                            <div class="doctors-images__image-wrap">
                                <img
                                    src="./assets/images/components/doctors/3.webp"
                                    alt=""
                                    class="doctors-images__image"
                                />
                            </div>
                        </div>
                        <div class="doctors-card__logo-wrap">
                            <img
                                src="./assets/images/components/logos/prodoctorov.svg"
                                alt=""
                                class="doctors-card__logo"
                            />
                        </div>
                    </div>
                    <span class="doctors-card__heading h h_h2">Отзывы о врачах</span>
                    <div class="figure-link__round-btn round-btn">
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </div>
                </a>
                <div class="services-hero__price price-card">
                    <div class="price-card__head">
                        <span class="price-card__heading h h_h3"
                            >Цена на размещение в стационаре за сутки</span
                        >
                        <div class="price-card__badge badge"><span class="badge__txt">от 6 000 ₽</span></div>
                    </div>
                    <div class="price-card__body">
                        <p class="price-card__text">Современный стационар по всем стандартам</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
