<section class="specialists-intro">
    <div class="container">
        <nav class="about-hero__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__txt">Главная</a>
            <span class="breadcrumbs__txt">Специалисты</span>
        </nav>
        <div class="specialists-intro__inner">
            <div class="specialists-intro__wrapper">
                <div class="specialists-intro__title h h_h1">Наши <span>специалисты</span></div>
                <div class="specialists-intro__subtitle h h_h1">
                    Научный <br class="_desktop-only" />
                    подход в лечении
                </div>
                <div class="specialists-intro__info-text intro__row-info-text _desktop-only">
                    <p>Получите бесплатную консультацию!</p>
                    <button type="button" class="intro__row-info-text-button btn btn_primary">
                        <span class="btn__txt">Записаться</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>
                <a href="#" class="specialists-intro__info-block intro__row-info-block _desktop-only">
                    <span class="intro__row-info-block-title"> Наши врачи </span>
                    <p class="intro__row-info-block-description">
                        Консультации <br />
                        и лечение у узких <br />
                        специалистов
                    </p>
                    <figure class="intro__row-info-block-icon">
                        <img src="./assets/images/sections/intro/info-block-icon.svg" alt="" />
                    </figure>
                </a>
            </div>
            <div class="specialists-intro__btn _mobile-only">
                <button type="button" class="btn btn_primary">
                    <span class="btn__txt">Записаться</span>
                    <svg
                        width="28"
                        height="24"
                        viewBox="0 0 28 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 6L7 12L1 18"
                            stroke="white"
                            stroke-opacity="0.2"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M11 6L17 12L11 18"
                            stroke="white"
                            stroke-opacity="0.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 6L27 12L21 18"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
            <figure class="specialists-intro__bg">
                <img src="../assets/images/specialists/specialists-bg-d.jpg" alt="" class="_desktop-only" />
                <img src="../assets/images/specialists/specialist-bg-m.jpg" alt="" class="_mobile-only" />
            </figure>
        </div>
    </div>
</section>
