<section class="steps">
    <div class="container">
        <div class="steps__content">
            <h2 class="steps__title h h_h1">
                Этапы лечения
            </h2>

            <div class="swiper steps-swiper">
                <ul class="swiper-wrapper steps__list">
                    <li class="swiper-slide">
                        <div class="steps__item">
                            <span class="steps__item-step"> 1 </span>

                            <div class="steps__item-text">
                                <span class="steps__item-title"> Диагностика и оценка </span>

                                <p class="steps__item-description">
                                    На первом этапе врач проводит детальное обследование пациента, включая
                                    физическое и психологическое обследование, чтобы определить наличие
                                    панических атак и оценить тяжесть и характер атак.
                                </p>
                            </div>

                            <figure class="steps__item-image">
                                <img src="./assets/images/sections/steps/steps-image-1.webp" alt="" />
                            </figure>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="steps__item">
                            <span class="steps__item-step"> 2 </span>

                            <div class="steps__item-text">
                                <span class="steps__item-title">Психотерапия</span>

                                <p class="steps__item-description">
                                    На этом этапе пациент работает с психотерапевтом для идентификации и
                                    понимания причин панических атак, осознания и изменения негативных мыслей
                                    и установок.
                                </p>
                            </div>

                            <figure class="steps__item-image">
                                <img src="./assets/images/sections/steps/steps-image-2.webp" alt="" />
                            </figure>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="steps__item">
                            <span class="steps__item-step"> 3 </span>

                            <div class="steps__item-text">
                                <span class="steps__item-title">Фармакотерапия</span>

                                <p class="steps__item-description">
                                    В некоторых случаях врач может назначить лекарственные препараты для
                                    снижения симптомов панических атак. Препараты могут включать
                                    антидепрессанты, анксиолитики или бета-блокаторы.
                                </p>
                            </div>

                            <figure class="steps__item-image">
                                <img src="./assets/images/sections/steps/steps-image-3.webp" alt="" />
                            </figure>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="steps__item">
                            <span class="steps__item-step"> 4 </span>

                            <div class="steps__item-text">
                                <span class="steps__item-title">Поддержка и самопомощь</span>

                                <p class="steps__item-description">
                                    Поддержка от близких людей и участие в групповых сессиях поддержки могут
                                    быть полезными в процессе лечения панических атак.
                                </p>
                            </div>

                            <figure class="steps__item-image">
                                <img src="./assets/images/sections/steps/steps-image-4.webp" alt="" />
                            </figure>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="steps__pagination slider-pagination">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
