<section class="support">
    <div class="support__container container">
        <div class="support__head">
            <div class="support__labels">
                <div class="support__label label">
                    <div class="label__icon-wrap">
                        <img src="./assets/images/icons/clock.svg" alt="" class="label__icon" />
                    </div>
                    <span class="label__text txt16 txt16_caps">Круглосуточно</span>
                </div>
                <div class="support__label label">
                    <div class="label__icon-wrap">
                        <img src="./assets/images/icons/verify.svg" alt="" class="label__icon" />
                    </div>
                    <span class="label__text txt16 txt16_caps">Анонимно</span>
                </div>
            </div>
        </div>
        <div class="support__body">
            <div class="support__text-wrap">
                <span class="support__subtitle txt16 txt16_caps">ВРАЧ-ПСИХИАТР</span>
                <span class="support__heading h h_h2"
                    >Профессиональная помощь при психических расстройствах</span
                >
                <p class="support__text">
                    Доверительная консультация, грамотная диагностика и эффективное лечение современными
                    препаратами и лучшими немедикаментозными методиками – так выглядит лечение глазами наших
                    пациентов.
                </p>
            </div>
            <div class="support__bg">
                <div class="support__image-wrap">
                    <img
                        src="./assets/images/sections/our-specialists/specialist-2.webp"
                        alt=""
                        class="support__image"
                    />
                </div>
                <div class="support__round-badge round-badge">
                    <div class="round-badge__icon-wrap">
                        <img src="./assets/images/icons/study.svg" alt="" class="round-badge__icon" />
                    </div>
                    <span class="round-badge__text txt16 txt16_caps">Стаж 7 лет</span>
                </div>
            </div>
        </div>
    </div>
</section>
