<section class="prices prices_therapy">
    <div class="container">
        <div class="prices__content">
            <div class="prices__heading section-heading">
                <span class="h h_h1">Вывод из запоя на дому</span>
            </div>

            <ul class="prices__list">
                <li class="prices__item">
                    <div class="prices__card">
                        <figure class="prices__card-icon">
                            <img src="./assets/images/sections/prices/prices-icon-1.svg" alt="" />
                        </figure>

                        <div class="prices__card-content">
                            <p class="prices__card-title">Консультация врача + обследование</p>

                            <span class="prices__card-price"> 4 000 <sub>₽</sub> </span>

                            <p class="prices__card-description">
                                Стоимость лечения зависит от вида заболевания, типа его течения, тяжести
                                состояния и составляет стоимость лечения зависит от вида заболевания, типа его
                                течения, тяжести состояния и составляет
                            </p>

                            <div class="prices__card-bottom">
                                <div class="prices__btn btn btn_ghost">
                                    <span class="btn__txt">Записаться</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <a href="#" class="link">
                                    <span class="link__txt txt16 txt16_caps">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="prices__item">
                    <div class="prices__card">
                        <figure class="prices__card-icon">
                            <img src="./assets/images/sections/prices/prices-icon-2.svg" alt="" />
                        </figure>

                        <div class="prices__card-content">
                            <p class="prices__card-title">Стационарное лечение</p>

                            <span class="prices__card-price"> 65 400 <sub>₽</sub> </span>

                            <p class="prices__card-description">
                                Стоимость лечения зависит от вида заболевания и его тяжести
                            </p>

                            <div class="prices__card-bottom">
                                <div class="prices__btn btn btn_ghost">
                                    <span class="btn__txt">Записаться</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <a href="#" class="link">
                                    <span class="link__txt txt16 txt16_caps">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="prices__item">
                    <div class="prices__card">
                        <figure class="prices__card-icon">
                            <img src="./assets/images/sections/prices/prices-icon-3.svg" alt="" />
                        </figure>

                        <div class="prices__card-content">
                            <p class="prices__card-title">Амбулаторная терапия «Начальная»</p>

                            <span class="prices__card-price"> 12 600 <sub>₽</sub> </span>

                            <p class="prices__card-description">
                                Стоимость лечения зависит от вида заболевания и его тяжести
                            </p>

                            <div class="prices__card-bottom">
                                <div class="prices__btn btn btn_ghost">
                                    <span class="btn__txt">Записаться</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <a href="#" class="link">
                                    <span class="link__txt txt16 txt16_caps">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="prices__item">
                    <div class="prices__card">
                        <figure class="prices__card-icon">
                            <img src="./assets/images/sections/prices/prices-icon-4.svg" alt="" />
                        </figure>

                        <div class="prices__card-content">
                            <p class="prices__card-title">Амбулаторная терапия «Оптимальная»</p>

                            <span class="prices__card-price"> 27 900 <sub>₽</sub> </span>

                            <p class="prices__card-description">
                                Стоимость лечения зависит от вида заболевания, типа его течения, тяжести
                                состояния и составляет стоимость лечения зависит от вида заболевания, типа его
                                течения, тяжести состояния и составляет
                            </p>

                            <div class="prices__card-bottom">
                                <div class="prices__btn btn btn_ghost">
                                    <span class="btn__txt">Записаться</span>
                                    <div class="btn__icon arr">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <a href="#" class="link">
                                    <span class="link__txt txt16 txt16_caps">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
