<section class="prices prices_therapy">
    <div class="container">
        <div class="prices__content">
            <div class="prices__heading section-heading">
                <span class="h h_h1">Вывод из запоя в стационаре</span>
            </div>

            <ul class="prices__list">
                <li class="prices__item">
                    <a href="#" class="prices__card _no-hover">
                        <figure class="prices__card-icon">
                            <img src="./assets/images/sections/prices/prices-icon-1.svg" alt="" />
                        </figure>

                        <div class="prices__card-content">
                            <p class="prices__card-title">Консультация врача + обследование</p>

                            <span class="prices__card-price"> 4 000 <sub>₽</sub> </span>

                            <p class="prices__card-description">
                                Стоимость лечения зависит от вида заболевания, типа его течения, тяжести
                                состояния и составляет стоимость лечения зависит от вида заболевания, типа его
                                течения, тяжести состояния и составляет
                            </p>

                            <div class="prices__card-bottom">
                                <div class="prices__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Записаться</span>
                                    <div class="btn__icon arr _no-hover">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <div class="link">
                                    <span class="link__txt txt16 txt16_caps">Подробнее</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="prices__item">
                    <a href="#" class="prices__card _no-hover">
                        <figure class="prices__card-icon">
                            <img src="./assets/images/sections/prices/prices-icon-2.svg" alt="" />
                        </figure>

                        <div class="prices__card-content">
                            <p class="prices__card-title">Стационарное лечение</p>

                            <span class="prices__card-price"> 65 400 <sub>₽</sub> </span>

                            <p class="prices__card-description">
                                Стоимость лечения зависит от вида заболевания и его тяжести
                            </p>

                            <div class="prices__card-bottom">
                                <div class="prices__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Записаться</span>
                                    <div class="btn__icon arr _no-hover">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <div class="link">
                                    <span class="link__txt txt16 txt16_caps">Подробнее</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="prices__item">
                    <a href="#" class="prices__card _no-hover">
                        <figure class="prices__card-icon">
                            <img src="./assets/images/sections/prices/prices-icon-3.svg" alt="" />
                        </figure>

                        <div class="prices__card-content">
                            <p class="prices__card-title">Амбулаторная терапия «Начальная»</p>

                            <span class="prices__card-price"> 12 600 <sub>₽</sub> </span>

                            <p class="prices__card-description">
                                Стоимость лечения зависит от вида заболевания и его тяжести
                            </p>

                            <div class="prices__card-bottom">
                                <div class="prices__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Записаться</span>
                                    <div class="btn__icon arr _no-hover">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <div class="link">
                                    <span class="link__txt txt16 txt16_caps">Подробнее</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="prices__item">
                    <a href="#" class="prices__card _no-hover">
                        <figure class="prices__card-icon">
                            <img src="./assets/images/sections/prices/prices-icon-4.svg" alt="" />
                        </figure>

                        <div class="prices__card-content">
                            <p class="prices__card-title">Амбулаторная терапия «Оптимальная»</p>

                            <span class="prices__card-price"> 27 900 <sub>₽</sub> </span>

                            <p class="prices__card-description">
                                Стоимость лечения зависит от вида заболевания, типа его течения, тяжести
                                состояния и составляет стоимость лечения зависит от вида заболевания, типа его
                                течения, тяжести состояния и составляет
                            </p>

                            <div class="prices__card-bottom">
                                <div class="prices__btn btn btn_ghost _no-hover">
                                    <span class="btn__txt">Записаться</span>
                                    <div class="btn__icon arr _no-hover">
                                        <svg
                                            width="9"
                                            height="16"
                                            viewBox="0 0 9 16"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M1 1L8 8L1 15"
                                                stroke="white"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <div class="link">
                                    <span class="link__txt txt16 txt16_caps">Подробнее</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <article class="prices__consultation">
                <div class="prices__consultation-wrapper">
                    <figure class="prices__consultation-icon">
                        <img src="./assets/images/icons/star-blue.svg" alt="" />
                    </figure>

                    <span class="prices__consultation-title _mobile-only">Консультация врача от 1 500 ₽</span>
                </div>

                <div class="prices__consultation-text">
                    <span class="prices__consultation-title _desktop-only"
                        >Ознакомьтесь с комплексными программами лечения
                    </span>

                    <p class="prices__consultation-description">
                        Эффективное лечение носит несколько этапов, медикаментозный и психологический
                    </p>
                </div>

                <a href="#" class="prices__consultation-button btn btn_primary">
                    <span class="btn__txt">Посмотреть цены</span>
                    <svg
                        width="28"
                        height="24"
                        viewBox="0 0 28 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 6L7 12L1 18"
                            stroke="white"
                            stroke-opacity="0.2"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M11 6L17 12L11 18"
                            stroke="white"
                            stroke-opacity="0.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 6L27 12L21 18"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </a>
            </article>
        </div>
    </div>
</section>
