<section class="video-section">
    <div class="video-section__container container">
        <div data-modal="#videoModal" class="video-section__head section-heading">
            <span class="video-section__heading h h_h1">О нашей клинике</span>
        </div>
        <div class="video-section__body">
            <div data-video-wrap class="video-section__video-wrap">
                <video
                    data-video="./assets/images/components/video-preview.webp"
                    class="modal__video video-js"
                >
                    <source src="./assets/video/video.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</section>
