<footer class="footer">
    <div class="container">
        <div class="footer__submenu _desktop-only">
            <a href="#" class="footer__logo">
                <img src="./assets/images/icons/logo.svg" alt="" />
            </a>

            <nav class="footer__submenu-nav">
                <ul class="footer__submenu-list">
                    <li class="footer__submenu-item">
                        <a href="#" class="footer__link"> Новости </a>
                    </li>
                    <li class="footer__submenu-item">
                        <a href="#" class="footer__link"> База знаний </a>
                    </li>
                    <li class="footer__submenu-item">
                        <a href="#" class="footer__link"> Скидки </a>
                    </li>
                    <li class="footer__submenu-item">
                        <a href="#" class="footer__link"> О нас </a>
                    </li>
                    <li class="footer__submenu-item">
                        <a href="#" class="footer__link"> Контакты </a>
                    </li>
                </ul>
            </nav>

            <div class="footer__submenu-contacts">
                <a href="tel:78633335808" class="footer__submenu-contact"> +7 863 333-58-08 </a>

                <address class="footer__submenu-contact">г. Ростов-на-Дону</address>
            </div>
        </div>

        <div class="footer__content">
            <a href="#" class="footer__logo _mobile-only">
                <img src="./assets/images/icons/logo.svg" alt="" />
            </a>

            <div class="footer__top">
                <div class="footer__info">
                    <p class="footer__info-title">Медицинский центр Альма. Частная психиатрическая клиника</p>

                    <span data-da=".footer__top,768,last" class="footer__info-subtitle">
                        Имеются противопоказания, требуется консультация специалистов
                    </span>

                    <ul data-da=".footer__top,768,last" class="footer__info-links">
                        <li class="footer__info-link">
                            <a href="#"> Политика конфиденциальности </a>
                        </li>
                        <li class="footer__info-link">
                            <a href="#"> Правовые документы </a>
                        </li>
                    </ul>
                </div>

                <nav data-accordion="" class="footer__nav">
                    <div class="footer__nav-block">
                        <div data-accordion-item="" class="footer__nav-block-title _mobile-only">
                            <p>Лечение психиатрии</p>

                            <figure class="footer__nav-block-icon _mobile-only">
                                <svg
                                    width="16"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M8 0V8M8 8H16M8 8H0M8 8V16"
                                        stroke="#2E2E2E"
                                        stroke-width="1.5"
                                    />
                                </svg>

                                <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <line y1="1.25" x2="16" y2="1.25" stroke="#2E2E2E" stroke-width="1.5"/>
                                </svg>
                            </figure>
                        </div>

                        <ul class="footer__nav-list">
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение панических атак </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение депрессии </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение неврозов </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение тревожного расстройства </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Энцефалопатия </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение болезни Паркинсона </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение анорексии </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение анорексии </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение шизофрении </a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__nav-block">
                        <div data-accordion-item="" class="footer__nav-block-title _mobile-only">
                            <p>Лечение зависимостей</p>
                            <figure class="footer__nav-block-icon _mobile-only">
                                <svg
                                    width="16"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M8 0V8M8 8H16M8 8H0M8 8V16"
                                        stroke="#2E2E2E"
                                        stroke-width="1.5"
                                    />
                                </svg>

                                <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <line y1="1.25" x2="16" y2="1.25" stroke="#2E2E2E" stroke-width="1.5"/>
                                </svg>
                            </figure>
                        </div>

                        <ul class="footer__nav-list">
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение биполярного расстройства</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение стресса</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение нервного тика</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение расстройства личности</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link"> Лечение апатии </a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение галлюцинаций</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение деменции</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение неврастении</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение нервных срывов</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__nav-block">
                        <div data-accordion-item="" class="footer__nav-block-title _mobile-only">
                            <p>Терапевтические услуги</p>
                            <figure class="footer__nav-block-icon _mobile-only">
                                <svg
                                    width="16"
                                    height="16"
                                    viewBox="0 0 16 16"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M8 0V8M8 8H16M8 8H0M8 8V16"
                                        stroke="#2E2E2E"
                                        stroke-width="1.5"
                                    />
                                </svg>

                                <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <line y1="1.25" x2="16" y2="1.25" stroke="#2E2E2E" stroke-width="1.5"/>
                                </svg>
                            </figure>
                        </div>

                        <ul class="footer__nav-list">
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение паранойи</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение ОКР</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение аффективных расстройств</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение тревожности</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение депрессивного расстройства</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение истерического расстройства</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение пограничного расстройства</a>
                            </li>
                            <li class="footer__nav-item">
                                <a href="#" class="footer__link">Лечение расстройства пищевого поведения</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="footer__copyright">
                <span class="footer__copyright-text"> Copiright © 2022 ООО «Горздрав» </span>

                <p class="footer__copyright-subtext">Не является публичной офертой</p>

                <a href="#" class="footer__copyright-logo">
                    <img src="./assets/images/icons/request-logo.svg" alt="" />
                </a>
            </div>
        </div>
    </div>
</footer>
