<header data-scroll-show data-scroll class="header">
    <div class="header__container container">
        <a href="#" class="header__logo-wrap"
            ><img src="./assets/images/icons/logo.svg" alt="" class="header__logo"
        /></a>
        <a href="#" class="header__btn-link btn btn_primary btn_white">
            <span class="btn__txt">Услуги</span>
        </a>
        <div class="header__hamburger-btn">
            <button type="button" class="header__hamburger hamburger"></button>
        </div>
        <nav class="header__nav">
            <a href="#" class="header__nav-link txt20">Новости</a>
            <a href="#" class="header__nav-link txt20">База знаний</a>
            <a href="#" class="header__nav-link txt20">Скидки</a>
            <a href="#" class="header__nav-link txt20">О нас</a>
            <a href="#" class="header__nav-link txt20">Контакты</a>
        </nav>
        <div class="header__group">
            <a href="tel:78633335808" class="header__tel txt20">+7 863 333-58-08</a>
            <span class="header__address">г. Ростов-на-Дону</span>
        </div>
        <button type="button" class="header__btn btn btn_primary">
            <span class="btn__txt">Заказать звонок</span>
            <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1 6L7 12L1 18"
                    stroke="white"
                    stroke-opacity="0.2"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M11 6L17 12L11 18"
                    stroke="white"
                    stroke-opacity="0.5"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M21 6L27 12L21 18"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </button>
        <div class="header__hamburger-menu hamburger-menu">
            <div class="hamburger-menu__chapters chapters-hamburger-menu">
                <ul class="chapters-hamburger-menu__list">
                    <li class="chapters-hamburger-menu__chapter">
                        <a data-menu-chapter="1" href="#" class="chapters-hamburger-menu__link h h_h2"
                            >Комплексные услуги</a
                        >
                    </li>
                    <li class="chapters-hamburger-menu__chapter">
                        <a
                            data-menu-chapter="2"
                            href="#"
                            class="chapters-hamburger-menu__link h h_h2 _is-active"
                            >Психиатрия</a
                        >
                    </li>
                    <li class="chapters-hamburger-menu__chapter">
                        <a data-menu-chapter="3" href="#" class="chapters-hamburger-menu__link h h_h2"
                            >Неврология</a
                        >
                    </li>
                    <li class="chapters-hamburger-menu__chapter">
                        <a data-menu-chapter="4" href="#" class="chapters-hamburger-menu__link h h_h2"
                            >Наркология</a
                        >
                    </li>
                    <li class="chapters-hamburger-menu__chapter">
                        <a data-menu-chapter="5" href="#" class="chapters-hamburger-menu__link h h_h2"
                            >Общемедицинская</a
                        >
                    </li>
                    <li class="chapters-hamburger-menu__chapter">
                        <a data-menu-chapter="6" href="#" class="chapters-hamburger-menu__link h h_h2"
                            >Исследования</a
                        >
                    </li>
                </ul>
            </div>
            <div class="hamburger-menu__body">
                <div class="hamburger-menu__list-wrap">
                    <div data-menu-list="1" class="hamburger-menu__list-inner">
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">1Распространенные заболевания</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение панических атак</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение депрессии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение неврозов</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение тревожного расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение болезни Паркинсона</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Энцефалопатия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение шизофрении</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение психоза</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение анорексии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение ОКР</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение истерического расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение расстройства пищевого поведения</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">Методы лечения</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Фармакотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Психотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Психиатрический стационар</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Электросудорожная терапия</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-menu-list="2" class="hamburger-menu__list-inner _is-active">
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">2Распространенные заболевания</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение панических атак</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение депрессии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение неврозов</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение тревожного расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение болезни Паркинсона</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Энцефалопатия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение шизофрении</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение психоза</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение анорексии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение ОКР</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение истерического расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение расстройства пищевого поведения</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">Методы лечения</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Фармакотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Психотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Психиатрический стационар</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Электросудорожная терапия</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-menu-list="3" class="hamburger-menu__list-inner">
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">3Распространенные заболевания</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение панических атак</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение депрессии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение неврозов</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение тревожного расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение болезни Паркинсона</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Энцефалопатия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение шизофрении</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение психоза</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение анорексии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение ОКР</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение истерического расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение расстройства пищевого поведения</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">Методы лечения</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Фармакотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Психотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Психиатрический стационар</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Электросудорожная терапия</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-menu-list="4" class="hamburger-menu__list-inner">
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">4Распространенные заболевания</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение панических атак</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение депрессии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение неврозов</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение тревожного расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение болезни Паркинсона</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Энцефалопатия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение шизофрении</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение психоза</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение анорексии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение ОКР</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение истерического расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение расстройства пищевого поведения</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">Методы лечения</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Фармакотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Психотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Психиатрический стационар</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Электросудорожная терапия</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-menu-list="5" class="hamburger-menu__list-inner">
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">5Распространенные заболевания</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение панических атак</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение депрессии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение неврозов</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение тревожного расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение болезни Паркинсона</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Энцефалопатия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение шизофрении</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение психоза</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение анорексии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение ОКР</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение истерического расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение расстройства пищевого поведения</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">Методы лечения</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Фармакотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Психотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Психиатрический стационар</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Электросудорожная терапия</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div data-menu-list="6" class="hamburger-menu__list-inner">
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">Распространенные заболевания</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение панических атак</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение депрессии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение неврозов</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение тревожного расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение болезни Паркинсона</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Энцефалопатия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение шизофрении</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение психоза</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение анорексии</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Лечение ОКР</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение истерического расстройства</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Лечение расстройства пищевого поведения</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="hamburger-menu__group">
                            <span class="hamburger-menu__heading h h_h3">Методы лечения</span>
                            <ul class="hamburger-menu__list list-hamburger-menu">
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Фармакотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link">Психотерапия</a>
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Психиатрический стационар</a
                                    >
                                </li>
                                <li class="list-hamburger-menu__item">
                                    <a href="#" class="list-hamburger-menu__link"
                                        >Электросудорожная терапия</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="hamburger-menu__banner banner-hamburger-menu">
                    <div class="banner-hamburger-menu__content">
                        <div class="banner-hamburger-menu__head">
                            <span class="banner-hamburger-menu__heading h h_h3"
                                >Получите бесплатную консультацию!</span
                            >
                            <a href="tel:79281074216" class="banner-hamburger-menu__tel txt20"
                                >+ 7 928 107 42 16</a
                            >
                        </div>
                        <div class="banner-hamburger-menu__footer">
                            <button
                                type="button"
                                class="banner-hamburger-menu__btn btn btn_primary btn_white"
                            >
                                <span class="btn__txt">Записаться</span>
                                <svg
                                    width="28"
                                    height="24"
                                    viewBox="0 0 28 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M1 6L7 12L1 18"
                                        stroke="white"
                                        stroke-opacity="0.2"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M11 6L17 12L11 18"
                                        stroke="white"
                                        stroke-opacity="0.5"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M21 6L27 12L21 18"
                                        stroke="white"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="banner-hamburger-menu__image-wrap">
                        <img
                            src="./assets/images/sections/our-specialists/specialist-2.webp"
                            alt=""
                            class="banner-hamburger-menu__image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
