<div id="videoModal" aria-hidden="true" class="modal video-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button data-close type="button" class="modal__close">
                <img src="./assets/images/icons/cross.svg" alt="" class="modal__close-icon" />
            </button>
            <div class="modal__body">
                <div class="video-modal__inner">
                    <video data-video controls class="modal__video video-js">
                        <source src="./assets/video/video.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="request-modal" aria-hidden="true" class="modal request-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button data-close type="button" class="modal__close">
                <img src="./assets/images/icons/cross.svg" alt="" class="modal__close-icon" />
            </button>
            <div class="modal__body">
                <h2 class="modal__title">Получить бесплатную консультацию</h2>

                <p class="modal__description">
                    Оставьте свой номер телефона и наш сотрудник свяжется с вами  в ближайшее время для
                    уточнения всех деталей
                </p>

                <form action="#" class="modal__form">
                    <label for="phone" class="modal__label">
                        <span>Номер телефона</span>

                        <input type="tel" id="phone" placeholder="+7 (___) ___-__ -__" />
                    </label>

                    <button
                        data-modal="#request-modal-success"
                        type="button"
                        class="modal__button btn btn_primary"
                    >
                        <span class="btn__txt">Оставить заявку</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="request-modal-success" aria-hidden="true" class="modal request-modal-success">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button data-close type="button" class="modal__close">
                <img src="./assets/images/icons/cross.svg" alt="" class="modal__close-icon" />
            </button>
            <div class="modal__body">
                <h2 class="modal__title">Спасибо за вашу заявку!</h2>

                <p class="modal__description">
                    Наш специалист свяжется с вами и поможет подобрать для вас подходящие варианты
                </p>

                <button data-close type="button" class="modal__button btn btn_primary">
                    <span class="btn__txt">Вернуться на главную</span>
                    <svg
                        width="28"
                        height="24"
                        viewBox="0 0 28 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1 6L7 12L1 18"
                            stroke="white"
                            stroke-opacity="0.2"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M11 6L17 12L11 18"
                            stroke="white"
                            stroke-opacity="0.5"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M21 6L27 12L21 18"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="certificate-modal" aria-hidden="true" class="modal certificate-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button data-close type="button" class="modal__close">
                <img src="./assets/images/icons/cross.svg" alt="" class="modal__close-icon" />
            </button>
            <div class="modal__body">
                <div class="swiper certificate-swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <figure class="certificate__image">
                                <img
                                    src="./assets/images/sections/certificates/certificate-image.webp"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="certificate__image">
                                <img
                                    src="./assets/images/sections/certificates/certificate-image.webp"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="certificate__image">
                                <img
                                    src="./assets/images/sections/certificates/certificate-image.webp"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="certificate__image">
                                <img
                                    src="./assets/images/sections/certificates/certificate-image.webp"
                                    alt=""
                                />
                            </figure>
                        </li>
                    </ul>
                </div>

                <div class="certificate__navigation-buttons navigation-buttons _desktop-only">
                    <button type="button" class="swiper-button-prev">
                        <img src="./assets/images/icons/arrow-left.svg" alt="" />
                    </button>
                    <button type="button" class="swiper-button-next">
                        <img src="./assets/images/icons/arrow-right.svg" alt="" />
                    </button>
                </div>

                <div class="certificate__pagination slider-pagination _mobile-only">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reviews-modal" aria-hidden="true" class="modal reviews-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button data-close type="button" class="modal__close">
                <img src="./assets/images/icons/cross.svg" alt="" class="modal__close-icon" />
            </button>
            <div class="modal__body">
                <div class="reviews__card">
                    <div class="reviews__card-heading">
                        <ul class="reviews__card-marks">
                            <li class="reviews__card-mark">
                                <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                            </li>
                            <li class="reviews__card-mark">
                                <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                            </li>
                            <li class="reviews__card-mark">
                                <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                            </li>
                            <li class="reviews__card-mark">
                                <img src="./assets/images/icons/star-small-filled.svg" alt="" />
                            </li>
                            <li class="reviews__card-mark">
                                <img src="./assets/images/icons/star-small-contained.svg" alt="" />
                            </li>
                        </ul>

                        <time class="reviews__card-date _desktop-only" datetime="11 января 2024"> 11 января 2024 </time>
                    </div>

                    <span class="reviews__card-author"> Владимир </span>

                    <p class="reviews__card-description">
                        Исследование волос/ногтей выполняют для подтверждения хронического отравления
                        опиатами. Его проводят по запросу суда или следственных органов, а также с целью
                        исключения однократного приема запрещенных веществ. Факт долгосрочного употребления не
                        менее важен для определения мероприятий по лечению и реабилитации Исследование
                        волос/ногтей выполняют для подтверждения хронического отравления опиатами. Его
                        проводят по запросу суда или следственных органов, а также с целью исключения
                        однократного приема запрещенных веществ. Отказ от запугивания и других форм
                        насильственного воздействия на психику пациента в пользу мотивации на исцеление.
                    </p>

                    <div class="reviews__card-bottom">
                        <time class="reviews__card-date _mobile-only" datetime="11 января 2024"> 11 января 2024 </time>

                        <figure class="reviews__card-company">
                            <img src="./assets/images/icons/company.svg" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
