<div id="videoModal" aria-hidden="true" class="modal video-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button data-close type="button" class="modal__close">
                <img src="./assets/images/icons/cross.svg" alt="" class="modal__close-icon" />
            </button>
            <div class="modal__body">
                <div class="video-modal__inner">
                    <video data-video controls class="modal__video video-js">
                        <source src="./assets/video/video.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="request-modal" aria-hidden="true" class="modal request-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button data-close type="button" class="modal__close">
                <img src="./assets/images/icons/cross.svg" alt="" class="modal__close-icon" />
            </button>
            <div class="modal__body">
                <h2 class="modal__title">Получить бесплатную консультацию</h2>

                <p class="modal__description">
                    Оставьте свой номер телефона и наш сотрудник свяжется с вами  в ближайшее время для
                    уточнения всех деталей
                </p>

                <form action="#" class="modal__form">
                    <label for="phone" class="modal__label">
                        <span>Номер телефона</span>

                        <input type="tel" id="phone" placeholder="+7 (___) ___-__ -__" />
                    </label>

                    <button
                        data-modal="#request-modal-success"
                        type="button"
                        class="modal__button btn btn_primary"
                    >
                        <span class="btn__txt">Оставить заявку</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="request-modal-success" aria-hidden="true" class="modal request-modal-success">
    <div class="modal__wrapper">
        <div class="modal__content">
            <button data-close type="button" class="modal__close">
                <img src="./assets/images/icons/cross.svg" alt="" class="modal__close-icon" />
            </button>
            <div class="modal__body">
                <h2 class="modal__title">Спасибо за вашу заявку!</h2>

                <p class="modal__description">
                    Наш специалист свяжется с вами и поможет подобрать для вас подходящие варианты
                </p>


                <button data-close type="button" class="modal__button btn btn_primary">
                        <span class="btn__txt">Вернуться на главную</span>
                        <svg
                            width="28"
                            height="24"
                            viewBox="0 0 28 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 6L7 12L1 18"
                                stroke="white"
                                stroke-opacity="0.2"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M11 6L17 12L11 18"
                                stroke="white"
                                stroke-opacity="0.5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M21 6L27 12L21 18"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
            </div>
        </div>
    </div>
</div>
