@mixin pseudo() {
    content: '';
    position: absolute;
    @content;
}

@mixin small-tablet {
    @media (max-width: 48em) {
        @content;
    }
}

@mixin sizes($width, $height) {
    max-width: $width;
    width: 100%;
    height: $height;

    @content;
}

@mixin mask($path) {
    -webkit-mask-image: url('../assets/images/' + $path);
    mask-image: url('../assets/images/' + $path);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
